[viewBag]
==

{% if shoppingcart.getBasketItems %}
<div class="container">
    <h1 class="h2">Winkelmandje</h1>
    <div class="basket-wrapper">
        <div class="shipping-form">
            {% partial 'forms/buyform' %}
        </div>
        <aside class="basket-items-overview basket-items">
            <div class="basket-sidebar">
                {% partial 'basket/basketpageaside' %}
            </div>
        </aside>
    </div>
</div>
{% else %}
<div class="page-empty">
    {% partial 'basket/emptybasketpage' %}
</div>
{% endif %}
