<div class="container">
    <div class="basket-empty">
         <h2 class="h1">Winkelmandje</h2>
        <span class="h3">Je winkelmandje is nog leeg.</span>
        <p>Bekijk welke producten wij op voorraad hebben op onze verkooppagina</p>
        <div>
            <a class="btn btn-primary" href="{{"kopen" |page}}">
                Bekijk producten
            </a>
        </div>
    </div>
</div>
