<div class="nav-basket-items">
    <div class="basketitems">
        {% for product in shoppingcart.getBasketItems %}
        <div class="basket-item">
            <div>
                <small><b>{{product.qty}} x</b></small>
                <span class="for-nav">
                    {{ product.item.productname|length > 20 ? product.item.productname|slice(0, 20) ~ '...' : product.item.productname  }}
                </span>
                <span class="for-page">
                    {{product.item.productname}}
                </span>
            </div>
            <div class="price">
                <span>&euro;{{product.item.salesprice * product.qty}}</span>
            </div>
            <div class="remove">
                <button type="button"
                        name="removeproduct"
                        value="{{product.item.id}}"
                        data-request-update="'basket/minibasket': '.shopping-basket',
                                             'basket/basketpageaside': '.basket-sidebar'"
                                            
                        data-request="onRemoveItem">
                    <i class="fa fa-times" aria-hidden="false"></i>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
