<div id="basket-count">
    <div class="basketicon-wrapper">
        <div class="basket-icon">
            <i class="fa fa-shopping-basket" aria-hidden="false"></i>
            <sup class="count">
                {{  shoppingcart.getBasketQty ? shoppingcart.getBasketQty : 0 }}
            </sup>
        </div>
    </div>
</div>
<div class="basket-items-overview basket-items">
    {% if shoppingcart.getBasketItems %}
        {% partial 'basket/items' %}
        <div class="pricing">
            {% partial 'basket/pricing' %}
            <div>
                <a href="{{'basket'|page}}" class="btn btn-primary">
                    Afrekenen
                </a>
            </div>
        </div>
    {% else %}
        <div class="basket-empty">
            <a href="{{'basket'|page}}">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            </a>
            <p>Je winkelmandje is nog leeg.</p>
        </div>
    {% endif %}
</div>
