<div class="basket-pricing pricing">
    <div class="delivery-cost">
        <span>verz.kosten</span>
        <span>&euro; 3.95 </span>
    </div>
    <div class="total">
        <span>Prijs (incl BTW)</span>
        <span>
            &euro;{{shoppingcart.getBasketPrice}}
        </span>
    </div>
    <div>
        <span>Totaal</span>
        <span>
            &euro;{{shoppingcart.getBasketPrice + 3.95}}
        </span>
    </div>
</div>
