<h1 class="h1">Onderhoud</h1>
<h2 class="h2">Op dit moment zijn wij bezig met onderhoud.</h2>
<p> Voor vragen kunt u altijd mailen naar <a style="color: white;" href="mailto:toestelverhuur@hotmail.com">info@toestelverhuur.nl </a> <p>