<div>
    <h3 class="h2">Super leuk dat u bij ons een product wilt huren!</h3>
    <p>
        Helaas is het voor ons nog niet mogelijk om door heel Nederland te bezorgen.
    </p>
    <p>
        <a href="https://www.google.nl/maps/place/Toestelverhuur/@51.903585,5.470973,9z/data=!4m5!3m4!1s0x0:0x9e2209a0ddf104ec!8m2!3d51.9865439!4d5.9873304" target="_blank">
            <b class="underlined">Bekijk eerst even of wij bij u bezorgen door hier te klikken!</b>
        </a>
    </p>
</div>
