<?xml version="1.0" encoding="UTF-8" ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for product in products  %}
    {% if product.category != "games" %}
    <url>
        <loc>{{url('')}}/{{product.category.slug}}/{{product.slug}}</loc>

        <changefreq>always</changefreq>

        <priority>0.8</priority>
    </url>
    {% endif %}
    {% endfor %}

    {% for category in categories  %}
    <url>
        <loc>{{url('')}}/{{category.slug}}</loc>

        <changefreq>weekly</changefreq>

        <priority>0.7</priority>
    </url>
    {% endfor %}
    <url>
        <loc>{{url('')}}/faq</loc>

        <changefreq>monthly</changefreq>

        <priority>0.6</priority>
    </url>
    <url>
        <loc>{{url('')}}/contact</loc>

        <changefreq>yearly</changefreq>

        <priority>0.7</priority>
    </url>
    <url>
        <loc>{{url('')}}/kopen</loc>

        <changefreq>yearly</changefreq>

        <priority>0.7</priority>
    </url>
    <url>
        <loc>{{url('')}}</loc>

        <changefreq>daily</changefreq>

        <priority>0.7</priority>
    </url>
</urlset>
