[viewBag]
==
{% for game in games %}
<div {{ game.quantity > 0 ? 'class="product"' : 'class="product out-of-stock"' }}>
    <h4 class="h4">
        {{game.productname}}
    </h4>
    <div class="platforms">
        <small>beschikbaar voor</small>
        {% for platform in game.gameplatforms %}
        <span class="platform-name">{{platform.platformname}}</span>
        {% endfor %}
    </div>
    <div class="product-avatar">
        {% for image in game.productimages %}
        <img src="{{image.thumb(200, {mode:'auto',quality:85})}}" title="product" alt="{{game.productname}}">
        {% endfor %}
    </div>
    {% if game.quantity > 0 %}
    <div class="price">
        <span>&euro; {{game.salesprice}}</span>
    </div>
    <div>
        <button type="button"
                data-request="onAddToBasket"
                value="{{game.id}}"
                name="addProduct"
                data-request-update="'basket/minibasket': '.shopping-basket'"
                class="btn btn-primary cart-btn">
            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
            <span>In winkelmandje</span>
        </button>

    </div>
    {% else %}
        <div class="price">
            <span>Niet op voorraad</span>
        </div>
    {% endif %}
</div>
{% endfor %}
