<section class="sales-header">
    <div class="container">
        {% for product in ProductItems.getMainProduct %}
        <h1 class="h1">Aangeboden producten</h1>
        <div class="important-products">
            <div class="main-productbox">
                <div class="product">
                    <h2 class="h2">{{product.productname}}</h2>
                    <p>
                        {{ product.description|length > 120 ? product.description|slice(0, 120) ~ '...' : product.description  }}
                    </p>
                    <div class="product-avatar">
                        {% for image in product.productimages %}
                        <img src="{{ image.thumb(450, 450, {mode:'auto',quality:85}) }}" title="product" alt="{{product.productname}}">
                        {% endfor %}
                    </div>
                    <div class="price">
                        <span class="buy-for">Kopen voor</span>
                        <span>&euro; {{product.salesprice}}</span>
                    </div>
                    <div class="btn-group">
                        <a href="{{product.category.slug}}/{{product.slug}}" class="btn btn-primary">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Bekijken
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="side-productboxes">
                {% for product in ProductItems.getSideProducts %}
                <div class="product">
                    <div class="main-overview">
                        <h2 class="h3">{{product.productname}}</h2>
                        <div class="product-avatar">
                            {% for image in product.productimages %}
                            <img src="{{ image.thumb(200, 200, {mode:'auto',quality:85}) }}" title="product" alt="{{product.productname}}">
                            {% endfor %}
                        </div>
                        <div class="price">
                            <span class="buy-for">Kopen voor</span>
                            <span>&euro; {{product.salesprice}}</span>
                        </div>
                    </div>
                    <div>
                        <a href="{{product.category.slug}}/{{product.slug}}" class="btn btn-primary">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                            Bekijken
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="usp">
            <div class="usp-item">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>Bij aankoop met IDeal betalen</span>
            </div>
            <div class="usp-item">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>Thuisbezorgd door een van onze bezorgers</span>
            </div>
            <div class="usp-item">
                <i class="fa fa-check" aria-hidden="true"></i>
                <span>De mogelijkheid om aan de deur te betalen</span>
            </div>
        </div>
    </div>
</section>
