<section class="buy-products products">
    <div class="container">
        <h2 class="h3">Ook te koop</h2>
        <div class="productswrapper">
            {% if ProductItems.getProductsForSale  %}
            {% for product in productsforsale %}
            {% if product.quantity > 0 %}
            <div class="product">
                <h4 class="h4">
                    {{product.productname}}
                </h4>
                <div class="product-avatar">
                    {% for image in product.productimages %}
                    <img src="{{ image.thumb(200, 200, {mode:'auto',quality:85}) }}" title="{{product.productname}}" alt="{{product.productname}}">
                    {% endfor %}
                </div>
                <div class="price">
                    <span>&euro; {{product.salesprice}}</span>
                </div>
                <div>
                    <a href="{{product.category.slug}}/{{product.slug}}" class="btn btn-primary">
                        <span>Bekijken</span>
                    </a>
                </div>
                <div class="check-more">
                    <span>Bekijk alle <a href="/{{product.category.slug}}">{{product.category.categoryname}}</a></span>
                </div>
            </div>
            {% else %}
            <div class="product out-of-stock">
                <h4 class="h4">
                    {{product.productname}}
                </h4>
                <div class="product-avatar">
                    {% for image in product.productimages %}
                    <img src="{{ image.thumb(200, 200, {mode:'auto',quality:85}) }}" title="{{product.productname}}" alt="product image">
                    {% endfor %}
                </div>
                <div class="price">
                    <span>Niet op voorraad</span>
                </div>
                <div>
                    <a href="{{product.category.slug}}/{{product.slug}}" class="btn btn-primary">
                        <span>Bekijken</span>
                    </a>
                </div>
                <div class="check-more">
                    <span>Bekijk alle <a href="/{{product.category.slug}}">{{product.category.categoryname}}</a></span>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            <div class="showmore-cta">
                <a href="{{"categories"|page}}" class="btn btn-primary">
                    Toon meer producten
                </a>
            </div>
        </div>
    </div>
</section>
<section class="games" id="games">
    <div class="container">
        <h2 class="h2">Games</h2>
        <div class="game-filter">
            <div class="game_form">
                <form role="form" method="post">
                    <div class="input-wrapper game-search">
                        <label>
                            <input type="text"
                                   placeholder="Games zoeken"
                                   data-request="onGameSearch"
                                   data-request-update="'buy/games': '#gameswrapper'"
                                   data-track-input
                                   name="game_search" />
                            <i class="fa fa-search" aria-hidden="false"></i>
                        </label>
                    </div>
                </form>
                <form method="post" role="form">
                    <div class="input-wrapper checkbox-group">
                        {% for platform in platforms %}
                        <label class="checkbox-wrapper">
                            <input type="checkbox"
                                   data-request="onGetGameForPlatform"
                                   data-request-update="'buy/games': '#gameswrapper'"
                                   name="platforms[]" value="{{platform.id}}" />
                            <span class="custom-checkbox"></span>
                            <span class="content">{{platform.platformname}}</span>
                        </label>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
        <div class="gameswrapper">
            <aside>
                <h3 class="h5">Game Genres</h3>
                <form method="post" role="form">
                    {% for game_genre in game_genres %}
                    <label class="checkbox-wrapper">
                        <input type="checkbox"
                               data-request="onGetGameCategory"
                               data-request-update="'buy/games': '#gameswrapper'"
                               name="gamecategories[]" value="{{game_genre.id}}" />
                        <span class="custom-checkbox"></span>
                        <span class="content">{{game_genre.gamecategoryname}}</span>
                    </label>
                    {% endfor %}
                </form>
            </aside>
            <div class="productswrapper games-wrapper" id="gameswrapper">
                {% if games %}
                {% partial 'buy/games' %}
                {% else %}
                <p>h3</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
