<link rel="apple-touch-icon" sizes="180x180" href={{"assets/images/favicon/apple-touch-icon.png"|theme}}>
<link rel="icon" type="image/png" sizes="32x32" href={{"assets/images/favicon/favicon-32x32.png"|theme}}>
<link rel="icon" type="image/png" sizes="16x16" href={{"assets/images/favicon/favicon-16x16.png"|theme}}>
<link rel="manifest" href={{"assets/images/favicon/site.webmanifest"|theme}}>
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="theme-color" content="#ffffff">
