[CategorieList]

[viewBag]
==
<footer>
    <div class="container">
        <div>
            <h3 class="h3">Op deze site</h3>
            <ul class="category-list">
                {% for category in CategorieList.getAllCategories %}
                <li>
                    <a href="{{category.slug}}">{{category.categoryname}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="contact-data">
            <h3 class="h3">Contact</h3>
            <ul>
                <li>
                    <i aria-hidden="true" class="fa fa-envelope-o"></i>
                    <a href="mailto:info@toestelverhuur.nl">info@toestelverhuur.nl</a>
                </li>
                <li>
                    <i aria-hidden="true" class="fa fa-phone"></i>
                    <a href="tel:+31636401088">+316 364 010 88</a>
                </li>
                <li>
                    <i aria-hidden="true" class="fa fa-home"></i>
                    <span>Talingsingel 58, Velp</span>
                </li>
                <li>
                    <b>BTW: </b>
                    <span>NL234083657B01</span>
                </li>
                <li>
                    <b>Kvk: </b>
                    <span>72565926</span>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="h3">Snel te weten komen</h3>
            <ul>
                <li>
                    <i class="fa fa-check"></i>
                    De mogelijkheid om achteraf te betalen.
                </li>
                <li>
                    <i class="fa fa-check"></i>
                    Thuis geleverd via PostNL of door ons.
                </li>
                <li>
                    <i class="fa fa-check"></i>
                    Bij huren factuur gebonden.
                </li>
            </ul>
            <div class="payment-methods">
                <img src="{{"assets/images/paymentmethods.png"|theme}}" alt="Alternate Text" />
            </div>
        </div>
    </div>
    <div class="footer-tags">
        <div class="container">
            <a href="{{"privacy"|page}}">
                Privacy
            </a>
            <a href="{{"algemenevoorwaarden"|page}}">
                Algemene voorwaarden
            </a>
        </div>
    </div>
</footer>
