[viewBag]
==
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="robots" content="nofollow, noindex">
{% block title %}
<title>
    {% if product %}
    Toestelverhuur | {{product.productname}}
    {% elseif category %}
    Toestelverhuur | {{category.categoryname}}
    {% else %}
    {{this.page.meta_title}}
    {% endif %}
</title>
{% endblock %}

{% if product %}
<meta property="og:title" content="{{product.productname}}" />
<meta property="og:image" content="{{product.seo_image}}" />
<meta property="og:description" content="{{product.description}}" />
<meta name="description" content="{{ product.description}}">
{% elseif category %}
    <meta property="og:image" content="{{ category.categoryimage.thumb(400, {mode:'auto',quality:75}) }}" />
{% else %}
<meta property="og:title" content="{{this.page.meta_title}}" />
<meta property="og:image" content="{{"assets/images/og-image.png"|theme}}" />
<meta property="og:description" content="{{this.page.meta_description}}" />
<meta name="description" content="{{ this.page.meta_description}}">
{% endif %}
