<div class="custom-modal">
    <div class="custom-modal-container">
        <div class="custom-modal-header">
            <div>
                <p>Bericht van Toestelverhuur.nl</p>
            </div>
            <div class="custom-close">
                <i class="fa fa-times" aria-hidden="false"></i>
            </div>
        </div>
        <div class="custom-modal-body">
            <h3 class="h3">Wist jij al dat</h3>
            <h4 class="h2">wij nu ook games verkopen?</h4>
            <div class="modal-img-wrapper">
                <img class="img-responsive" src="{{"assets/images/modal-img.png"|theme}}" alt="Alternate Text" />
                <div class="price">
                    <span>vanaf</span>
                    <span>0.99!</span>
                </div>
            </div>
            <div class="btn-group">
                <a href="{{"kopen"|page}}#games" class="btn btn-primary buy-redirect">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <span>Bekijken</span>
                </a>
                <a class="custom-close">
                    <span>Nee, bedankt</span>
                </a>
            </div>
        </div>
    </div>
</div>
