[viewBag]

[staticMenu]
code = "navigation"

[CategorieList]
==
<header>
    <nav class="navigation">
        <div class="container">
            <div class="nav-logo">
                <a href="{{"home"|page}}" class="logo-color">
                    <img class="img-responsive" src="{{"assets/images/logo.png"|theme}}" alt="Logo" />
                </a>
                <a href="{{"home"|page}}" class="logo-gray">
                    <img class="img-responsive" src="{{"assets/images/logo_gray.png"|theme}}" alt="Logo" />
                </a>
                <div class="nav-interaction">
                    <a href="{{"home"|page}}" class="to_home">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
            </div>
            <div class="nav-items">
                {% component 'staticMenu' %}
            </div>
            <div class="nav-calls">
                <div class="shopping-basket">
                  {% partial 'basket/minibasket' %}
                </div>
                <div class="menutoggle">
                    <span class="bars"></span>
                </div>
            </div>
        </div>
    </nav>
    <nav class="category-navigation">
        <div class="container">
            <ul>
                {% for category in CategorieList.getAllCategories %}
                <li>
                    <a href="{{url('')}}/{{category.slug}}">{{category.categoryname}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
