<div class="payment-methods">
    <div>
        <img class="img-responsive" src="{{"assets/images/icon_facturen.png"|theme}}" title="Bank" alt="Bank betaling" />
        <span>Factuur</span>
    </div>
    <div>
        <img class="img-responsive" src="{{"assets/images/cash2.png"|theme}}" title="Contant" alt="Contante betaling" />
    </div>
</div>
