{% if globaldiscount %}
<section class="hero is-discount">
    <div class="container">
        <div class="stopwatch">
            <div class="discount-header">
                <h2 class="h1">20%</h2>
                <h3 class="h2">Blackfriday<br /> huur korting!</h3>
            </div>
            <div id="stopwatch" class="timer"></div>
            <input type="hidden" class="discountdate" value="{{discountdate}}" />
            <div class="group">
                <a href="{{"categories"|page}}" class="btn btn-lighter">Bekijk producten</a>
            </div>
        </div>
        <div class="usp discount-usp">
            <div class="usp-item">
                {% component 'editable' file="home/usp-1.htm" %}
            </div>
            <div class="usp-item">
                {% component 'editable' file="home/usp-2.htm" %}
            </div>
            <div class="usp-item">
                {% component 'editable' file="home/usp-3.htm" %}
            </div>
        </div>
    </div>
    <div class="reviews">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="review-box swiper-slide">
                    <p>
                        Super goede service. Binnen 24 uur huur toestel thuis geleverd, wat een luxe. En daarna volgens afspraak ook weer thuis opgehaald. Niks te klagen. Daarnaast super vriendelijk, Top!!!
                    </p>
                    <span>
                        Shahaira Pietersz
                        via <a href="https://www.google.nl/search?ei=tSfKW6rYOcGwkwW7xJjYAg&q=toestelverhuur&oq=toestelverhuur&gs_l=psy-ab.3..0j38.4307.5848.0.5988.14.14.0.0.0.0.157.1241.10j3.13.0....0...1c.1.64.psy-ab..1.13.1238...0i131k1j0i10k1.0.u2jSuHp6Yz4#lrd=0x47c7a39d616356cd:0x9e2209a0ddf104ec,1,,," target="_blank">Google reviews</a>
                    </span>
                </div>
                <div class="review-box swiper-slide">
                    <p>
                        Het enigste wat ik kan zeggen is dat ik echt super blij ben met mijn product wat ik recent heb aangeschaft, ik vroeg wat ik nodig had kwa specificaties en binnen no time kwam toestelverhuur.nl met een oplossing! En buiten dat om de klantenservice is super en een hele mooie site. Dit verdient zeker 5 sterren!!
                    </p>
                    <span>
                        Maarten
                        via <a href="https://www.google.nl/search?ei=y9HJW66SMoXxkwXshIu4DA&q=teostelverhuur&oq=teostelverhuur&gs_l=psy-ab.3...1696.3180.0.3320.14.12.0.0.0.0.200.1224.2j6j1.9.0....0...1c.1.64.psy-ab..5.7.862...0j0i131k1j0i67k1j0i10k1j0i10i30k1j0i13k1.0.U6Uz8zxf3Lw#lrd=0x47c7a39d616356cd:0x9e2209a0ddf104ec,1,,," target="_blank">Google reviews</a>
                    </span>
                </div>
                <div class="review-box swiper-slide">
                    <p>
                        Zeer professioneel bedrijf. Heeft snelle/goede en persoonlijke service.  Alles was binnen een dag geregeld. Aanrader!
                    </p>
                    <span>
                        Floor
                        via <a href="https://www.google.nl/search?ei=y9HJW66SMoXxkwXshIu4DA&q=teostelverhuur&oq=teostelverhuur&gs_l=psy-ab.3...1696.3180.0.3320.14.12.0.0.0.0.200.1224.2j6j1.9.0....0...1c.1.64.psy-ab..5.7.862...0j0i131k1j0i67k1j0i10k1j0i10i30k1j0i13k1.0.U6Uz8zxf3Lw#lrd=0x47c7a39d616356cd:0x9e2209a0ddf104ec,1,,," target="_blank">Google reviews</a>
                    </span>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
{% else %}
<section class="hero">
    <div class="container">
        <div>
            <span class="h2">Welkom bij</span>
            <h1 class="h1"> Toestelverhuur.nl</h1>
            <div class="btn-group">
                <a href="{{"categories"|page}}" class="btn btn-lighter">Onze producten</a>
                <a href="{{"faq"|page}}" class="btn btn-secondary">Contacteer ons</a>
            </div>
        </div>
        <div class="usp">
            <span class="h5">Gemakkelijk een toestel lenen</span>
            <div class="usp-item">
                {% component 'editable' file="home/usp-1.htm" %}
            </div>
            <div class="usp-item">
                {% component 'editable' file="home/usp-2.htm" %}
            </div>
            <div class="usp-item">
                {% component 'editable' file="home/usp-3.htm" %}
            </div>
        </div>
    </div>
    <div class="reviews">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="review-box swiper-slide">
                    <p>
                        Super goede service. Binnen 24 uur huur toestel thuis geleverd, wat een luxe. En daarna volgens afspraak ook weer thuis opgehaald. Niks te klagen. Daarnaast super vriendelijk, Top!!!
                    </p>
                    <span>
                        Shahaira Pietersz
                        via <a href="https://www.google.nl/search?ei=tSfKW6rYOcGwkwW7xJjYAg&q=toestelverhuur&oq=toestelverhuur&gs_l=psy-ab.3..0j38.4307.5848.0.5988.14.14.0.0.0.0.157.1241.10j3.13.0....0...1c.1.64.psy-ab..1.13.1238...0i131k1j0i10k1.0.u2jSuHp6Yz4#lrd=0x47c7a39d616356cd:0x9e2209a0ddf104ec,1,,," target="_blank">Google reviews</a>
                    </span>
                </div>
                <div class="review-box swiper-slide">
                    <p>
                        Het enigste wat ik kan zeggen is dat ik echt super blij ben met mijn product wat ik recent heb aangeschaft, ik vroeg wat ik nodig had kwa specificaties en binnen no time kwam toestelverhuur.nl met een oplossing! En buiten dat om de klantenservice is super en een hele mooie site. Dit verdient zeker 5 sterren!!
                    </p>
                    <span>
                        Maarten
                        via <a href="https://www.google.nl/search?ei=y9HJW66SMoXxkwXshIu4DA&q=teostelverhuur&oq=teostelverhuur&gs_l=psy-ab.3...1696.3180.0.3320.14.12.0.0.0.0.200.1224.2j6j1.9.0....0...1c.1.64.psy-ab..5.7.862...0j0i131k1j0i67k1j0i10k1j0i10i30k1j0i13k1.0.U6Uz8zxf3Lw#lrd=0x47c7a39d616356cd:0x9e2209a0ddf104ec,1,,," target="_blank">Google reviews</a>
                    </span>
                </div>
                <div class="review-box swiper-slide">
                    <p>
                        Zeer professioneel bedrijf. Heeft snelle/goede en persoonlijke service.  Alles was binnen een dag geregeld. Aanrader!
                    </p>
                    <span>
                        Floor
                        via <a href="https://www.google.nl/search?ei=y9HJW66SMoXxkwXshIu4DA&q=teostelverhuur&oq=teostelverhuur&gs_l=psy-ab.3...1696.3180.0.3320.14.12.0.0.0.0.200.1224.2j6j1.9.0....0...1c.1.64.psy-ab..5.7.862...0j0i131k1j0i67k1j0i10k1j0i10i30k1j0i13k1.0.U6Uz8zxf3Lw#lrd=0x47c7a39d616356cd:0x9e2209a0ddf104ec,1,,," target="_blank">Google reviews</a>
                    </span>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
{% endif %}
