<section class="steps">
    <div class="container">
        <h2 class="h2">Zo makkelijk is huren</h2>
        <div class="steps-wrapper">
            <div class="step">
                <div>
                    <img src="{{"assets/images/website.png"|theme}}" alt="Alternate Text" />
                </div>
                <div class="step-content">
                    <p>
                        <b>1. </b>Kies een product uit dat jij graag wilt huren.
                    </p>
                </div>
            </div>
            <div class="step">
                <div>
                    <img src="{{"assets/images/rent.png"|theme}}" alt="Alternate Text" />
                </div>
                <div class="step-content">
                    <p>
                        <b>2. </b> Rond de bestelling af door je gegevens + huur periode in te vullen.
                    </p>
                </div>
            </div>
            <div class="step">
                <div>
                    <img src="{{"assets/images/van.png"|theme}}" alt="Alternate Text" />
                </div>
                <div class="step-content">
                    <p>
                        <b>3. </b>Je product wordt op basis van jou geselecteerde periode geleverd aan huis
                    </p>
                </div>
            </div>
            <div class="step">
                <div>
                    <img src="{{"assets/images/payment.png"|theme}}" alt="Alternate Text" />
                </div>
                <div class="step-content">
                    <p>
                        <b>4. </b>Je product wordt opgehaald aan jouw huisadres en de betaling wordt afgehandeld.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
