<div class="testimonials">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <h5 class="h5">Mooie website met goede service!</h5>
                <p>
                    Goede website dat makkelijk werkt, met uitstekende service. Hier zal ik graag vaker willen bestellen wanneer ik wil gamen samen met mijn vrienden op een gezellige avond. Alleen hoop ik dan wel op een groter assortiment om uit te kiezen.
                </p>
            </div>
        </div>
    </div>
</div>
