<div class="container success-state">
    <h1 class="h1">Uw vraag is verzonden!</h1>
    <p>Wij sturen u zo spoedig een antwoord op uw vraag per e-mail.</p>
    <div class="group">
        <a href="{{"home"|page}}" class="btn btn-primary">
            <span>Terug naar home</span>
        </a>
    </div>
</div>
