<div class="container success-state">
    <h1 class="h1">Uw bestelling is geplaatst!</h1>
    <!--<p>U heeft een e-mail ontvangen met daarin informatie over uw bestelling. De factuur krijgt u 24 uur naar uw bestelling in uw mail. Onthoud dat u deze factuur ook aan het einde van uw huurperiode mag betalen. Veel plezier met uw product!</p>-->
    <p>Wij komen uw product op uw ingevulde datum naar u brengen. Binnen uw uur periode krijgt u een factuur naar uw e-mail gestuurd met kosten en informatie over uw huuraanvraag. Veel plezier met uw product!</p>
    <div class="group">
        <a href="{{"home"|page}}" class="btn btn-primary">
            <span>Terug naar home</span>
        </a>
        <a href="{{"categories"|page}}" class="btn btn-secondary">
            <span>Nieuwe bestelling</span>
        </a>
    </div>
</div>
