<div class="container success-state">
    <h1 class="h1">Uw reparatie aanvraag is verstuurd!</h1>
    <p>Bedankt voor uw aanvraag. Binnen 3 dagen nemen wij contact met u op om een afspraak te maken.</p>
    <p><b>Leen toestel nodig? Regel het meteen via ons</b></p>
    <div class="group">
        <a href="{{"categories"|page}}" class="btn btn-primary">
            <span>Toestel huren</span>
        </a>
        <span> of </span>
        <a href="{{"home"|page}}" class="btn btn-secondary">
            <span>Terug naar home</span>
        </a>
    </div>
</div>
