[discounts]

[shoppingcart]

[editable]
==
<!DOCTYPE html>

<html lang="nl-NL">
<head>
    {% partial 'config/head' %}
</head>
<body>
    {% partial 'global/modal' %}
    {% partial 'global/navigation' %}
    {% page %}
    {% partial 'global/footer' %}

    {% partial 'config/scripts' %}

</body>
</html>