[discounts]

[shoppingcart]

[editable]

[CategorieList]
==
<!DOCTYPE html>

<html lang="nl-NL">
<head>
       {% partial 'config/head' %}
</head>
<body class="not-home">
    {% partial 'global/modal' %}
    {% partial 'global/navigation' %}
    {% page %}
    {% partial 'global/footer' %}

    {% partial 'config/scripts' %}
</body>
</html>