<h2 class="h3"><strong>Privacy</strong></h2>
<p> Wij slaan uw gegevens op een beveiligde manier op! Wij willen graag dat onze gebruikers veilig gebruik kunnen maken van onze service. Daarom maken wij gebruik van hash technologie in onze database dat beveiligd is met een goed wachtwoord.
    Hash technologie houd in dat uw gegevens encrypted zijn en alleen zichtbaar zijn voor ons om te zorgen dat u uw product veilig thuis krijgt geleverd.
</p>
<p><strong>Waar worden uw gegevens bewaard?</strong></p>
<p>Uw gegevens word bewaard in onze beveiligde database en in onze mail.</p>
<p> <strong>Hoelang behouden wij uw gegevens?</strong> </p>
<p> Wij verwijderen uw gegevens zodra wij uw bestelling of contact aanvraag afgerond hebben. U kunt er altijd voor kiezen om hierna een andere bestelling te plaatsen.</p>

<p> <strong>User tracking</strong> </p>
<p>Gebruikers worden op langetermijn niet gevolgd door ons. Daarom maken wij geen gebruik van cookies of sessions. Wel maken wij gebruik van Google Analytics, Wij zien niet wie de gebruiker is maar wel welke pagina men het meest bezoekt.</p>

<p> Dit privacybeleid is voor het laatst gewijzigd op 9 augustus 2018.</p>