title = 404
url = "/404"
layout = 404
meta_title = "Toestelverhuur | Pagina niet gevonden"
is_hidden = 0

[CategorieList]
==
<section class="error-page">
    <div class="error-page-hero">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="white" points="0,100 100,40 100,100" />
        </svg>
        <div class="container">
            <h1 class="h1">404</h1>
            <h2 class="h2">Deze pagina is niet gevonden</h2>
            <div>
                <a href="{{"home"|page}}" class="btn btn-secondary">
                    Terug naar home
                </a>
            </div>
        </div>
    </div>
    <div class="container category-wrap">
        <h3 class="h3">Op onze site:</h3>
    <div class="error-categories">
        {% for category in CategorieList.getAllCategories %}
        <a href="{{category.slug}}" rel="canonical">
            <div class="category" style="background-image:url({{category.categoryimage.thumb(auto,auto)}})">

            </div>
        </a>
        {% endfor %}
    </div>
    </div>
</section>