title = "algemenevoorwaarden"
url = "/algemenevoorwaarden"
layout = "no-meta"
is_hidden = 0
==
<section class="policy">
    <div class="container">
        {% component 'editable' file="policy/content.htm" %}
    </div>
</section>