title = "basket"
url = "/winkelmandje"
layout = "not-home"
meta_title = "Toestelverhuur - Winkelmandje"
is_hidden = 0

[shoppingcart]
==
<section class="basket">
    <div class="basket-pagina">
        {% partial 'basket/basketpage' %}
    </div>
</section>