title = "bestellingsuccess"
url = "/succes"
layout = "no-meta"
is_hidden = 0
==
<section class="success-section">
    <div class="container">
        {% component 'editable' file="succes/content.htm" %}
        <div class="group">
            <a href="{{"home"|page}}" class="btn btn-primary">
                <span>Terug naar home</span>
            </a>
            <a href="{{"kopen"|page}}" class="btn btn-secondary">
                <span>Nieuwe bestelling</span>
            </a>
        </div>
    </div>
</section>
