title = "categorie"
url = "/:category"
layout = "not-home"
meta_title = "Toestelverhuur | Categorie"
is_hidden = 0

[CategoryDetails]

[ProductItems]
==
<section class="category-wrapper">
    <div class="container">
        <div class="productslist">
            {% for product in products %}
            {% if product.category.slug == "games" %}
            <div class="productwrap">
                <div {{ product.quantity > 0 ? 'class="product"' : 'class="product out-of-stock"' }}>
                    <div class="product-avatar">
                        {% for image in product.productimages %}
                        <img src="{{image.thumb(200, {mode:'auto',quality:75})}}" alt="{{product.productname}}" />
                        {% endfor %}
                        {% if product.quantity > 0 %}
                        <div class="price">
                            <small>Kopen voor:</small>
                            <span>&euro;{{product.salesprice}}</span>
                        </div>
                        {% else %}
                        <div class="price">
                            <small>Niet op voorraad </small>
                        </div>
                        {% endif %}
                    </div>
                    <div class="product-content">
                        <h4 class="h4">{{product.productname}}</h4>
                        {% if product.category.slug == "games" %}
                        <span class="platform-name">{{platform.platformname}}</span>
                        {% endif %}

                    </div>
                </div>
                <div>
                    <button type="button"
                            name="addProduct"
                            value="{{product.id}}"
                            data-request="onAddToBasket"
                            data-request-update="'basket/minibasket': '.shopping-basket'"
                            class="btn btn-primary">
                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                        <span>In winkelmandje</span>
                    </button>
                </div>
            </div>
            {% else %}
            <div class="productwrap">
                <div {{ product.quantity > 0 ? 'class="product"' : 'class="product out-of-stock"' }}>
                    <div class="product-avatar">
                        {% for image in product.productimages %}
                        <img src="{{image.thumb(200, {mode:'auto',quality:75})}}" alt="product afbeelding" />
                        {% endfor %}
                        {% if product.quantity > 0 %}
                        {% if globaldiscount %}
                        <div class="{{ product.for_sale and product.for_rent ? "big-price price" : "price"}} discount-round">
                            {% if product.for_rent %}
                            <small>{{product.bail}},- borg</small>
                            <small><strike>{{product.price}} {% if product.category.slug is same as("consoles") %} p/d {% else %} p/w {% endif %}</strike></small>
                            <span>&euro; {{(product.price - product.price * 20.00 / 100)|number_format(2, '.', ',') }} {% if product.category.categoryname is same as("Consoles") %} p/d {% else %} p/w {% endif %}</span>
                            {% endif %}
                            {% if product.for_sale %}
                            <small>Kopen voor:</small>
                            <span>
                                &euro;{{product.salesprice}}
                            </span>
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="{{ product.for_sale and product.for_rent ? "big-price price" : "price"}}">
                            {% if product.for_rent %}
                            <small>&euro; {{product.bail}},- <sup>borg</sup></small>
                            <span>
                                &euro;{{product.price}} {% if product.category.slug is same as("consoles") %} p/d {% else %} p/w {% endif %}
                            </span>
                            {% endif %}
                            {% if product.for_sale %}
                            <small>Kopen voor:</small>
                            <span>
                                &euro;{{product.salesprice}}
                            </span>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% else %}
                        <div class="price">
                            <small>Niet op voorraad </small>
                        </div>
                        {% endif %}
                    </div>
                    <div class="product-content">
                        <h4 class="h4">{{product.productname}}</h4>
                        <p>
                            {{ product.description|length > 100 ? product.description|slice(0, 100) ~ '...' : product.description  }}
                        </p>
                        {% for platform in product.gameplatforms %}
                        <span class="platform-name">{{platform.platformname}}</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="product-cta">
                    <a href="{{product.category.slug}}/{{product.slug}}" class="btn btn-primary">
                        Bekijk nu
                    </a>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
