title = "categories"
url = "/categorieen"
layout = "not-home"
meta_title = "Toestelverhuur | Onze categorieën"
meta_description = "Nieuwsgierig naar welke producten wij verhuren? Bekijk de categorieën, kilk erop en huur binnen 1 minuut jou toestel die je vervolgens thuis ontvangt!"
is_hidden = 0

[CategorieList]
==
<section class="categories">
    <div class="container">
        <h1 class="h2">Kies een categorie</h1>
        <div class="categories-wrapper">
            {% for category in categories %}
            <a href="{{category.slug}}" rel="canonical">
                <div class="category" style="background-image:url({{ category.categoryimage.thumb(400, {mode:'auto',quality:75}) }})" alt="categorie"></div>
                <p class="h4">{{category.categoryname}}</p>
            </a>
            {% endfor %}
        </div>
    </div>
</section>
