title = "contact"
url = "/contact"
layout = "not-home"
meta_title = "Toestelverhuur | Contact opnemen"
meta_description = "Toestelverhuur is gevestigd in regio Arnhem maar wij bezorgen door heel Nederland. Neem contact met ons op via deze pagina!"
is_hidden = 0

[googleMap]
latitude = 51.986544
longitude = 5.987330
zoom = 10
width = "100%"
height = "350px"
mapTypeId = "ROADMAP"
showMarker = "true"
apiKey = "AIzaSyAPpOl6ogsPs3zmOrYTXT3ZvU1yO_HVZsQ"

[TeamMembers]
==
<section class="contact">
    <div class="hero-contact">
        {% component 'googleMap' %}
    </div>
    <div class="container">
        <h1 class="h1">Contact opnemen</h1>
        <div class="information">
            <div class="company-information">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa fa-building-o" aria-hidden="true"></i>
                            Roelofse Solutions
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        Velp, Gelderland
                    </li>
                    <li>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        Talingsingel 58, 6883cx
                    </li>
                    <li>
                        <b>BTW: </b>
                        <span>NL234083657B01</span>
                    </li>
                    <li>
                        <b>Kvk: </b>
                        <span>72565926</span>
                    </li>
                </ul>
            </div>
            <div class="contact-information">
                <ul>
                    <li>
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <a href="mailto:info@toestelverhuur.nl">info@toestelverhuur.nl</a>
                    </li>
                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <a href="tel:">06-36401088</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="team">
    <div class="container">
        <h1 class="h2">Maak kennis met ons team</h1>
        <div class="members">
            {% for member in TeamMembers.getMembers %}
                <div class="team-member">
                    <div class="avatar-wrapper">
                        <img class="img-responsive" width="150" height="150" src="{{member.member_avatar.thumb(150, {mode:'auto',quality:85}) }}" title="{{member.name}}" alt="{{member.name}}" />
                    </div>
                    <div class="member-information">
                        <ul>
                            <li>
                                <span>{{member.name}}</span>
                                <span>{{member.function}}</span>
                            </li>

                            <li>
                                <i aria-hidden="true" class="fa fa-envelope-o"></i>
                                <a href="mailto:{{member.email}}">{{member.email}}</a>
                            </li>
                            {% if member.phonenumber %}
                            <li>

                                <i aria-hidden="true" class="fa fa-phone"></i>
                                <a href="tel:{{member.phonenumber}}">{{member.phonenumber}}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
