title = "faq"
url = "/faq"
layout = "not-home"
meta_title = "Toestelverhuur | Meest gestelde vragen"
is_hidden = 0

[contactform]
==
<section class="faq">
    <div class="contact-form">
        <div class="container">
            <h2 class="h2">Staat je vraag er niet tussen? Stuur een vraag op.</h2>
            {% partial 'forms/contactform' %}
        </div>
    </div>
    <div class="container">
        <h1 class="h1">{{this.page.title}}</h1>
        {% component 'editable' file="faq/content.htm" %}
        <h3 class="h3">Betalingen</h3>

        <div class="question-wrapper">
            <div class="question">
                <span>Wanneer betaal ik mijn borg?</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="answer">
                <span>De borg word voor het in gaan van de huurperiode aan een van onze bezorgers betaald. Borg krijg je terug na het aflopen van de huurperiode als het product nog inorde is.</span>
            </div>
        </div>
        <div class="question-wrapper">
            <div class="question">
                <span>Wanneer moet ik mijn gehuurde product afbetalen?</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="answer">
                <span>Het product betaald u af na het aflopen van de huurperiode. Dit kun je doen d.m.v het bedrag over te maken naar het rekeningnummer dat staat aangegeven op de factuur. Of u kunt contant betalen aan onze ophaalservice.</span>
            </div>
        </div>
        <div class="question-wrapper">
            <div class="question">
                <span>Is het mogelijk om met Ideal te betalen?</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="answer">
                <span>Ja, dit is mogelijk. Echter is dit alleen mogelijk wanneer je een product koopt. Bij het huren van een product sturen wij een factuur op.</span>
            </div>
        </div>
        <div class="question-wrapper">
            <div class="question">
                <span>Ik wil de huurperiode eerder beëindigen, kan dit?</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="answer">
                <span>Dit is mogelijk. Echter betaald u dan wel &euro;7.50 servicekosten.</span>
            </div>
        </div>

        <h3 class="h3">Service</h3>

        <div class="question-wrapper">
            <div class="question">
                <span>Hoelang kan ik een product maximaal lenen?</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="answer">
                <span>U kunt een product maximaal 6 maanden lenen.</span>
            </div>
        </div>

        <div class="question-wrapper">
            <div class="question">
                <span>Is het mogelijk om mijn huurperiode te verlengen?</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="answer">
                <span>Ja, dit is zeker mogelijk. Bel dan even naar <a href="tel:+31636401088">+316 364 010 88</a> vanaf dit punt kunt u aangeven voor hoe lang u dit wilt verlengen. U krijgt dan wel een aangepaste factuur toegestuurd per e-mail.</span>
            </div>
        </div>
        <div class="question-wrapper">
            <div class="question">
                <span>Het product is defect, wat nu?</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="answer">
                <span>Bij val schade, hardware schade of kwijtraak zal de borg niet worden teruggegeven aan de gene die het product huurd. Bij kleine gebruiksporen en / of krasjes heeft u gewoon recht op uw borg.</span>
            </div>
        </div>
        <div class="question-wrapper">
            <div class="question">
                <span>Hoe kan ik mijn product ontvangen?</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="answer">
                <span>Uw product word thuisbezorgd door èèn van onze bezorgers.</span>
            </div>
        </div>
        <div class="question-wrapper">
            <div class="question">
                <span>Moet ik mijn product retourneren aan het einde van mijn huurperiode?</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="answer">
                <span>Nee dit hoeft niet. Wij laten u optijd weten op welk tijd stip wij dit product weer op komen halen. Dit tijdstip krijgt u per e-mail doorgestuurd.</span>
            </div>
        </div>
        <h3 class="h3">Product gekocht?</h3>
        <div class="question-wrapper">
            <div class="question">
                <span>Ik heb een product gekocht maar wil hem graag terug brengen</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="answer">
                <span>Bij aankoop van een product is het niet mogelijk om deze terug te brengen. Dit is dan ook de reden dat wij aanraden om eerst een product te huren om hem uit te proberen. </span>
            </div>
        </div>
        <div class="question-wrapper">
            <div class="question">
                <span>Mijn product is kapot! wat nu?</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="answer">
                <span>Bij ons heb je de eerste 2 maanden garantie. Val en breukschade valt niet onder de garantie. Maar mocht het product onverwachts kapot gaan. Kunt u ons altijd bellen en regelen wij een vervangend product. </span>
            </div>
        </div>

        <h3 class="h3">Contact</h3>
        <div class="question-wrapper">
            <div class="question">
                <span>Ik heb vragen over mijn product, service of huurperiode, waar kan ik terecht?</span>
                <span>
                    <i class="fa fa-plus"></i>
                </span>
            </div>
            <div class="answer">
                <span>Voor vragen kunt u bellen of whatsappen naar <a href="tel:+31636401088">+316 364 010 88</a> of een e-mail sturen naar <a href="mailto:info@toestelverhuur.nl">info@toestelverhuur.nl</a></span>
            </div>
        </div>
    </div>
</section>