title = "hire"
url = "/huren/:category/:product"
layout = "no-meta"
is_hidden = 0

[HireProduct]

[ProductItem]
==
<section class="hire-product">
    <div class="order-userinfo">
        {% if product %}
        <div class="product-table container">
            <div class="product-info">
                <div class="product-image">
                    {% for image in product.productimages %}
                    <img class="img-responsive" src="{{ image.thumb(120, {mode:'auto',quality:60}) }}" title="product" alt="product afbeelding" />
                    {% endfor %}
                </div>
                <div class="product-title">
                    <span>{{product.productname}}</span>
                </div>
            </div>
            <div class="product-cost">
                <div class="product-price">
                    <p>Prijs</p>
                    <span>
                        {% if globaldiscount %}
                        <span>
                            <small><strike>&euro;{{product.price}} {% if product.category.categoryname is same as("consoles") %} p/d {% else %} p/w {% endif %}</strike></small>
                            &euro; {{(product.price - product.price * 20 / 100)|number_format(2, '.', ',') }} {% if product.category.categoryname is same as("consoles") %} p/d {% else %} p/w {% endif %}
                        </span>
                        {% else %}
                        <span>&euro;{{product.price}}{% if product.category.categoryname is same as("consoles") %} p/d {% else %} p/w {% endif %}</span>
                        {% endif %}
                    </span>
                </div>
                <div class="product-bail">
                    <p>borg</p>
                    <span>
                        &euro;{{product.bail}}
                    </span>
                </div>

                <div class="product-price">
                    <p>verz. kosten</p>
                    <span>
                        &euro; 4 ,-
                    </span>
                </div>
            </div>
        </div>
        <!--shows when game console is selected-->
        {% if HireProduct.checkCategory %}
        <div class="games-optional">
            <div class="container">
                {% content "hire/game-select.htm" %}
                <form method="POST" role="form" class="games-form">
                    {% for game in productgames %}
                    <label class="checkbox-wrapper">
                        <input type="checkbox" name="games[]" value="{{game.gamename}}" />
                        <span class="custom-checkbox"></span>
                        <span class="gamename">{{game.gamename}}</span>
                    </label>
                    {% endfor %}
                </form>
            </div>
        </div>
        {% endif %}
        <div class="user-form">
            <div class="container">
                {% content "hire/user-form" %}
                {% partial 'forms/rentform' %}
            </div>
        </div>
        {% endif %}
    </div>
</section>
