title = "home"
url = "/"
layout = "default"
meta_title = "Tijdelijk Een Vervangend Toestel Nodig? Toestelverhuur.nl!"
meta_description = "Tijdelijk een Android, IPhone, Laptop, Desktop of Console nodig? Wij verhuren particulier aan u! Goedkoop en snel geleverd aan huis"
is_hidden = 0

[ProductItems]
==
<main>
    {% partial 'home/hero' %}
    {% partial 'home/steps' %}
    <section class="products">
        <div class="container">
            <h2 class="h2">Onze nieuwe producten</h2>
            <div class="productswrapper">
                {% if ProductItems.getHotProducts  %}
                {% for product in hotproducts %}
                {% if product.quantity > 0 %}
                <div class="product">
                    <a href="{{url("")}}/{{product.category.slug}}/{{product.slug}}">
                        <h4 class="h4">
                            {{product.productname}}
                        </h4>
                        <div class="product-avatar">
                            {% for image in product.productimages %}
                            <img src="{{ image.thumb(200, 200, {mode:'auto',quality:85}) }}" title="product" alt="{{product.productname}}">

                            {% endfor %}
                        </div>
                        {% if globaldiscount %}
                        <div class="{{ product.for_sale and product.for_rent ? "big-price price" : "price"}} is-discount">
                            <small>{{product.bail}},- borg</small>
                            <small><strike>{{product.price}} {% if product.category.slug is same as("consoles") %} p/d {% else %} p/w {% endif %}</strike></small>
                            <div class="discount-price">
                                <span>&euro; {{(product.price - product.price * 20.00 / 100)|number_format(2, '.', ',') }} {% if product.category.categoryname is same as("Consoles") %} p/d {% else %} p/w {% endif %}</span>
                            </div>
                        </div>
                        {% else %}
                        <div class="{{ product.for_sale and product.for_rent ? "big-price price" : "price"}}">
                            <small>{{product.bail}},- borg</small>
                            <span>&euro; {{product.price}} {% if product.category.categoryname is same as("consoles") %} p/d {% else %} p/w {% endif %}</span>
                        </div>
                        {% endif %}
                    </a>
                    <div>
                        <a href="{{url("")}}/{{product.category.slug}}/{{product.slug}}" rel="canonical" class="btn btn-primary">
                            <span> Bekijken</span>
                        </a>
                        <div class="check-more">
                            <span>Of bekijk alle <a href="/{{product.category.slug}}">{{product.category.categoryname}}</a></span>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="product out-of-stock">
                    <h4 class="h4">
                        {{product.productname}}
                    </h4>
                    <div class="product-avatar">
                        {% for image in product.productimages %}
                        <img src="{{ image.thumb(200, 200, {mode:'auto',quality:85}) }}" title="product" alt="product image">

                        {% endfor %}
                    </div>
                    <div class="price">
                        <span>Niet op voorraad</span>
                    </div>
                    <div>
                        <a href="{{product.category.slug}}/{{product.slug}}" rel="canonical" class="btn btn-primary">
                            <span> Bekijken</span>
                        </a>
                        <div class="check-more">
                            <span>Of bekijk alle <a href="/{{product.category.slug}}">{{product.category.categoryname}}</a></span>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                {% else %}
                <p>Op dit moment hebben wij geen nieuwe producten geleverd gekregen</p>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="content-boxes">
        <div class="container">
            <div class="content-box">
                {% component 'editable' file="home/intro.htm" %}
                <div>
                    <a class="btn btn-primary" href="{{"categories"|page}}">
                        Bekijk producten
                    </a>
                </div>
            </div>
            <div class="content-box">
                {% component 'editable' file="home/buy-info.htm" %}
                <div>
                    <a class="btn btn-secondary" href="{{"kopen"|page}}">
                        Koop pagina
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
