title = "maintenance"
url = "/onderhoud"
layout = 404
meta_title = "Toestelverhuur | Onderhoud"
meta_description = "Bent u opzoek naar een vervangende mobiele telefoon? Of heeft u tijdelijk een andere laptop nodig? Bij toestelverhuur.nl bezorgen wij uw gehuurde toestel direct aan huis."
is_hidden = 0
==
<section class="error-page">
    <div class="error-page-hero">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon fill="white" points="0,100 100,40 100,100" />
        </svg>
        <div class="container">
            {% content "maintenance/content.htm" %}
        </div>
    </div>
</section>