title = "privacy"
url = "/privacy"
layout = "no-meta"
meta_title = "Toestelverhuur.nl | Privacy"
is_hidden = 0
==
<section class="policy">
    <div class="container">
        {% component 'editable' file="privacy/content.htm" %}
    </div>
</section>