title = "product"
url = "/:category/:product"
layout = "not-home"
meta_title = "Toestelverhuur | Product"
meta_description = "Toestelverhuur heeft verschillende soorten toestellen te bieden. Wij bezorgen uw product door heel Nederland."
is_hidden = 0

[ProductItem]
==
<section class="product-detail">
    <div class="container">
        <div class="product-detail-wrapper product">
            <div class="product-mandatory-information">
                <h1 class="h1 for-mobile">{{product.productname}}</h1>
                <div class="product-gallery">
                    <div class="side-images">
                        {% for image in product.productimages %}
                        <div class="side-image">
                            <img class="img-responsive" src="{{ image.thumb(400, 400, {mode:'auto',quality:85}) }}" alt="{{product.productname}} klein" />
                        </div>
                        {% endfor %}
                    </div>
                    <div class="main-image">
                        {%  for mainimage in product.productimages %}
                        <img class="img-responsive" src="{{ mainimage.thumb(400, 400, {mode:'auto',quality:85}) }}" alt="{{product.productname}} groot" />
                        {% endfor %}
                        {% if product.for_rent %}
                        <div {{ product.quantity > 0 ? 'class="product-cost"' : 'class="product-cost out-of-stock"' }} >
                            {% if product.quantity > 0 %}
                            {% if globaldiscount %}
                            <div class="price">
                                <small>{{product.bail}} borg</small>
                                <small><strike>{{product.price}} {% if product.category.slug is same as("consoles") %} p/d {% else %} p/w {% endif %}</strike></small>
                                <div class="discount-price">
                                    <span>&euro; {{(product.price - product.price * 20 / 100)|number_format(2, '.', ',') }} {% if product.category.slug is same as("consoles") %} p/d {% else %} p/w {% endif %}</span>
                                </div>
                            </div>
                            {% else %}
                            <div class="price">
                                <small>{{product.bail}} borg</small>
                                <span>&euro; {{product.price}} {% if product.category.slug is same as("consoles") %} p/d {% else %} p/w {% endif %}</span>
                            </div>
                            {% endif %}

                            {% if product.for_sale %}
                            <div class="can-buy">
                                <div class="price">
                                    <span>kopen voor</span>
                                    <p>&euro; {{product.salesprice}}</p>
                                </div>
                            </div>
                            {% endif %}

                            {% else %}
                            <div class="price out-of-stock">
                                <span> Niet op voorraad </span>
                            </div>
                            {% endif %}
                        </div>
                        {% else %}
                        {% if product.for_sale %}
                        {% if product.quantity > 0 %}
                        <div class="can-buy">
                            <div class="price product-cost">
                                <span>kopen voor</span>
                                <p>&euro; {{product.salesprice}}</p>
                            </div>
                        </div>
                        {% else %}
                        <div class="price product-cost out-of-stock">
                            <span> Niet op voorraad </span>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="product-information">
                        <h1 class="h2 for-desktop ">{{product.productname}}</h1>
                        <span class="tip">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            Borg contant betalen
                        </span>
                        <p>
                            {{product.description}}
                        </p>
                        {% if product.quantity > 0 %}
                        <div class="btn-group">
                            {% if product.for_rent %}
                            <a href="{{"hire"|page}}" class="btn btn-primary">
                                <span>Huren</span>
                            </a>
                            {% endif %}
                            {% if product.for_sale %}
                            <button type="button"
                                    name="addProduct"
                                    value="{{product.id}}"
                                    data-request="onAddToBasket"
                                    data-request-update="'basket/minibasket': '.shopping-basket'"
                                    class="btn btn-secondary">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                <span>In winkelmandje</span>
                            </button>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="product-details">
                    <div class="product-additional-information">
                        <h2 class="h2">Product specificaties</h2>
                        <p>
                            {{product.additional_information|raw}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
