title = "reparaties"
url = "/reparaties"
layout = "not-home"
meta_title = "Laptop of Desktop Laten Repareren? Voordelig Bij Toestelverhuur!"
meta_description = "Is uw laptop of desktop defect? Laat deze goedkoop repareren bij Toestelverhuur. Reparaties Aan huis geleverd met no cure no pay en garantie!"
is_hidden = 0

[Repairs]
==
<section class="reparations">
    <div class="container">
        {% component 'editable' file="reparations/content.htm" %}
        <div class="reparation">
            <div class="reparation-form">
                {% partial 'forms/reparationform' %}
            </div>
            <aside class="reparation-types">
                <h2 class="h3">Wat wij u bieden:</h2>
                <ul class="usp">
                    <li>
                        Ophaalservice 50km rond Arnhem
                    </li>
                    <li>
                        Wij zijn simpel weg de goedkoopste
                    </li>
                    <li>
                        Ondersteuning aan huis mogelijk
                    </li>
                    <li>
                        <i class="fa fa-whatsapp"></i>
                        +31 6 364 010 88
                    </li>
                </ul>
                <h2 class="h3 reparation-header">Reparaties die wij uitvoeren:</h2>
                <ul>
                    <li>
                        <b>Laptops & Desktop</b>
                    </li>
                    <ul>
                        <li>
                            <span>
                                <i class="fa fa-check" aria-hidden="false"></i>
                                Optimalisatie / opruimen
                            </span>
                            <b> 40,-</b>
                        </li>
                        <li>
                            <span>
                                <i class="fa fa-check" aria-hidden="false"></i>
                                Accu vervangen
                            </span>
                            <b> 20,-</b>
                        </li>
                        <li>
                            <span>
                                <i class="fa fa-check" aria-hidden="false"></i>
                                Virus verwijdering / beveiliging
                            </span>
                            <b> 40,-</b>
                        </li>
                        <li>
                            <span>
                                <i class="fa fa-check" aria-hidden="false"></i>
                                Hardware reparatie / vervanging
                            </span>
                            <b>40,-</b>
                        </li>
                        <li>
                            <span>
                                <i class="fa fa-check" aria-hidden="false"></i>
                                ICT Ondersteuning
                            </span>
                            <b> p/u 15,- </b>
                        </li>
                    </ul>
                </ul>
                <ul>
                    <li>
                        <b>Playstations</b>
                    </li>
                    <ul>
                        <li>
                            <span>
                                <i class="fa fa-check" aria-hidden="false"></i>
                                Diagnose stellen
                            </span>
                            <b> 20,-</b>
                        </li>
                        <li>
                            <span>
                                <i class="fa fa-check" aria-hidden="false"></i>
                                Hardeschijf vervanging
                            </span>
                            <b>50,-</b>
                        </li>
                        <li>
                            <span>
                                <i class="fa fa-check" aria-hidden="false"></i>
                                Voeding vervanging
                            </span>
                            <b>60,-</b>
                        </li>
                        <li>
                            <span>
                                <i class="fa fa-check" aria-hidden="false"></i>
                                Disk warp/start knop reparatie
                            </span>
                            <b> 40,-</b>
                        </li>
                    </ul>
                </ul>
                <div>
                    <span class="tip">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        Bij hardware vervangingen komen de kosten van de nieuw aangeschafte hardware erbij
                    </span>
                </div>
            </aside>
        </div>
    </div>
</section>