html {
    font-size: 62.5%
}
.stripe-loading-indicator {
    display: none
}

body {
    font-size: 1.6rem;
    padding: 0!important;
    margin: 0 ;
}

section, footer {
    padding: 60px 0 0 0;

    @include media-breakpoint-up('md') {
        padding: 80px 0 0 0;
    }
}
.policy{
    padding-top:140px;
}


.content {
    text-align: center;
}

.redactor-box{
    color: black;
}

.for-mobile {
    display: block;

    @include media-breakpoint-up('md') {
        display: none;
    }
}

.for-desktop {
    display: none;

    @include media-breakpoint-up('md') {
        display: block;
    }
}

.tip{
    color: gray;
    display: flex;
    align-items: center;
    i{
        margin-right: 10px;
        font-size: 2rem;
    }
}

.payment-methods {
    width: 300px;

    img {
        display: block;
        max-width: 100%;
    }
}
