.h1, .h2, .h3, .h4, .h5 {
    padding-bottom: 10px;
    font-family: $font4;
}

p {
    font-family: $font2;
}

.h1 {
    font-size: 4rem;
    @include media-breakpoint-up('md') {
        font-size:5rem;
    }
}

.h2 {
    font-size: 2.3rem;

    @include media-breakpoint-up('md') {
        font-size: 2.8rem;
    }
}

.underlined {
    text-decoration: underline;
    font-style: italic;
}

.h3 {
    font-size: 2.6rem;
}

.h4 {
    font-size: 2.4rem;
    text-transform:lowercase;
}

.h5 {
    font-size: 2.2rem;
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: none;
        color: black;
    }
}
