<h1 class="h1">Bedankt voor uw bestelling!</h1>
<p>Wij komen uw bestelde product(en) binnen 48 uur aan uw huisadres bezorgen natuurlijk zou het zo kunnen zijn dat u op dit moment niet thuis bent, dan leveren wij het product af bij uw buren en doen wij een briefje in uw brievenbus.</p>

<p>Na wij u bestelling hebben verwerkt en u uw bestelling aan huis bezorgd heeft gehad, verwijderen wij uw gegevens uit ons systeem voor uw privacy.</p>
<p>
    <b>Retourzending of vragen?</b><br />
    Uw bestelling ongedaan maken of heeft u nog vragen? Neem contact met ons op en bel naar +31 6 36401088!
</p>