<h2 class="h2">Wat is Toestelverhuur.nl?</h2>
<p>Bij Toestelverhuur.nl huur jij binnen een paar seconde toestellen zoals laptops, telefoons of consoles inclusief spellen. Deze toestellen worden geleverd bij u aan huis
</p>