.shopping-basket {
    .for-page {
        display: none;
    }

    .basket-items {
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all .2s;

        .basket-item {
            padding: 5px 20px 5px 10px;
            margin: 10px;

            .price {
                padding-right: 15px;
            }
        }
    }

    &.open {
        .basket-items {
            z-index: 999;
            max-height: 550px;
            overflow: visible;
            opacity: 1;
            transition: all .2s;
        }
    }

    .basket-empty {
        text-align: center;

        i {
            font-size: 5rem;
            padding: 5px 0 10px 0;
            color: $blue1;
        }
    }
}

.basket-items {
    position: absolute;
    width: 100%;
    background: white;
    top: 70px;
    right: 0;
    z-index: -1;
    border: 1px solid $gray;

    .basket-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding-bottom: 8px;
        margin-bottom: 8px;
        border-bottom: 1px solid $gray;
        width: 100%;

        > div {
            display: flex;

            &:first-child {
                width: 100%;
            }

            i {
                color: $red;
            }
        }

        small {
            display: flex;
            align-items: center;
        }

        span {
            text-align: left;
        }

        b {
            margin-right: 5px;
        }

        button {
            background: transparent;
            border: none;

            &:focus {
                border-color: transparent;
            }
        }

        .price {
            font-weight: 900;
            font-size: 1.5rem;
            padding-right: 30px;
            font-family: $font3;
        }
    }

    .pricing {
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: flex-end;

        span {
            &:first-child {
                padding-right: 20px;
            }

            &:last-child {
                font-weight: 900;
                font-family: $font3;
            }
        }

        a {
            margin-top: 10px;
        }
    }

    @include media-breakpoint-up('sm') {
        width: 300px;
    }
}
section {
    .basket-empty {
        padding-bottom: 220px;

        p {
            padding-top: 10px;
        }
    }
}

.basket {
    padding-top: 150px;

    .for-nav {
        display: none;
    }

    .basket-wrapper {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
    }

    .basket-items-overview {
        position: static;
        opacity: 1;
        display: block;
        width: 100%;
        border: 0;
        z-index: 1;

        .basket-page-items {
            max-height: 220px;
            overflow-y: scroll;
            overflow-x: hidden;
            margin-bottom: 20px;
        }

        .basket-item {
            justify-content: flex-start;
            padding: 10px;

            .price {
                padding-right: 0;
            }
        }
    }

    .shipping-form {
        padding: 20px;
        background: $gray;
        margin-top: 20px;
    }

    @include media-breakpoint-up('md') {
        .basket-wrapper {
            justify-content: space-between;
            flex-direction: row;
        }

        .basket-items-overview {
            .basket-page-items {
                max-height: 500px;
            }
        }

        .basket-items-overview {
            width: 30%;
        }

        .shipping-form {
            width: 55%;
        }
    }
}

.nav-basket-items {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.payment-methods {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.payment-method {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border: none;
    height: 150px;

    button {
        position: relative;
        width: 100px;
        height: 70px;
        background: transparent;
        border: none;
        outline: 0;
        margin-bottom: 10px;
        padding-left:0;

        i {
            margin-right: 5px;
        }

        &.btn-secondary {
            width: 100%;
            height: auto;
            padding-left:15px;
        }
    }

    .payment-wrapper {
        position: absolute;
        padding-top: 110%;
        top: 0;
        width: 250px;
        display: none;
    }

    &.open {
        button {
            opacity: .8;
            outline: 0;
        }

        .payment-wrapper {
            display: block;
        }
    }

    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}
