.btn {
    font-size: 1.6rem;
    padding: 10px 15px;
    border-radius: 0;
    font-family: $font1;
    border: none;

    &.btn-primary {
        background: $blue1;
        border: none;
    }

    &.btn-secondary {
        background: #868e96;
    }

    &.btn-lighter {
        background: $blue2;
        color: white;
    }
}

button {
    cursor: pointer;
}

.cart-btn {
    span {
        display: none;

        @include media-breakpoint-up('sm') {
            display: inline-block;
        }
    }
}

.btn-group {
    display: block;
    text-align: center;

    .btn {
        margin-bottom: 10px;

        &:hover {
            opacity: .8;
        }
		&:first-child {
            margin-right: 10px;
        }
    }

    @include media-breakpoint-up('md') {
        display: flex;
        text-align: left;
    }
}
