.sales-header {
    padding-top: 120px;
    border-bottom: 1px solid $gray;
    margin-bottom: 60px;
    padding-bottom: 30px;
    background: $gray2;

    .product {
        position: relative;
        display: block;
        padding: 20px;

        .price {
            position: absolute;
            width: 90px;
            height: 90px;
            top: 50%;
            right: 0;
        }
    }

    .important-products {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;

        .buy-for {
            font-size: 1.2rem;
        }

        .main-productbox {
            width: 100%;
            height: 100%;

            .product {
                max-width: 100%;
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
                background: white;

                img {
                    display: none;

                    &:first-child {
					max-width: 100%;
                        display: block !important;
                    }
                }
            }
        }

        .side-productboxes {
            width: 100%;
            height: 100%;

            .product {
                max-width: 100%;
                margin-bottom: 10px;
                background: white;

                .h3 {
                    font-size: 2rem;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                .product-avatar {
                    margin: 5px 10px;

                    img {
                        min-width: 200px;
                        height: auto;
                        display: none;

                        &:first-child {
                            display: block !important;
                        }
                    }
                }

                .main-overview {
                    position: relative;
                }

                .btn {
                    font-size: 1.2rem;
                    padding: 5px 8px;
                }
            }
        }

        @include media-breakpoint-up('md') {
            .main-productbox {
                width: 50%;

                .product {
                    .price {
                        height: 120px;
                        width: 120px;
                    }
                }
            }

            .side-productboxes {
                display: block;
                width: 50%;
                padding-left: 20px;

                .product {
                    margin: 0;
                    height: calc(50% - 10px);
                    width: 100%;

                    &:first-child {
                        margin-right: 10px;
                    }

                    .price {
                        height: 80px;
                        width: 80px;
                        right: -20px;
                        top: 83%;
                    }

                    &:first-child {
                        margin-right: 20px;
                        margin-bottom: 20px;
                    }

                    .btn {
                        font-size: 1.6rem;
                        padding: 10px 15px;
                    }
                }
            }
        }

        @include media-breakpoint-up('md') {
            .side-productboxus {
                display: block;
            }

            .main-overview {
                display: flex;
            }
        }
    }

    .usp {
        display: flex;
        justify-content: space-between;
        padding: 50px 0 0 0;
        flex-wrap: wrap;

        i {
            color: lawngreen;
        }

        .usp-item {
            padding-bottom: 10px;
        }

        span {
            font-weight: 800;
            font-family: $font3;
        }
    }
}

.buy-products {
    padding: 0;

    .product {
        display: flex;

        &:nth-child(n+9) {
            display: none;
        }
    }
}

.showmore-cta{
    margin: 20px auto;
}

.games {
    padding-top: 20px;

    aside {
        width: 100%;

        .content {
            font-size: 1.4rem;
            white-space: nowrap;
        }
    }

    .product {

        .price {
            top: 50%;
            width: 60px;
            height: 60px;
        }

        .product-avatar {
            max-height: 250px;

            img {
                height: 100%;
                padding: 20px 10px;
                width: 100%;
            }
        }
    }

    @include media-breakpoint-up('md') {
        aside {
            width: 25%;
        }

        .gameswrapper {
            display: flex;
        }
    }
}
