.categories {
    padding-top: 140px;

    .categories-wrapper {

        a {
            display: block;
            color: black;
            text-transform: capitalize;
            text-decoration: none;
            padding: 10px 10px 10px 0;
            p{
                text-align: center;
                text-transform: uppercase;
            }
        }
    }

    @include media-breakpoint-up('md') {
        .categories-wrapper {
            display: flex;
            flex-wrap: wrap;

            a {
                width: calc(33.333% - 20px);
            }
        }
    }
}

.category {
    position: relative;
    z-index: 1;
    background-size: cover;
    display: flex;
    border: 1px solid $gray;
    max-height:500px;
    align-items: center;
    justify-content: center;
    background-position: center;
    &::before {
        position: absolute;
        background: rgba(255,255,255,0.2);
        transition: all .2s;
        width: 100%;
        left:0;
        height: 100%;
        z-index: -1;
        top: 0;
        content: "";
    }

    &::after {
        content: "";
        display: block;
        padding-bottom: calc(100% - 20px);
    }

    &:hover {

        &::before {
            background: rgba(255,255,255,0.4);
            transition: all .2s;
            content: "";
        }
    }
}
