.contact {

    .hero-contact {
        padding-bottom: 40px;
    }

    .information {

        ul {
            padding: 0 50px 0 0;
            list-style: none;
            margin-bottom: 30px;

            i {
                padding-right: 5px;
                font-size: 1.8rem;
            }
        }

        li {
            margin-bottom: 5px;
        }

        @include media-breakpoint-up('md') {
            display: flex;
        }
    }
}
.company-information, .contact-data {
    b {
        font-size: 1.3rem;
    }
}
