.payment-selector {
    background: #e0e0e0;
    padding: 5px;
    margin-bottom: 20px;

    .payment-type {
        display: none;
        padding: 10px 15px;
        cursor: pointer;
        user-select: none;

        &:nth-child(2) {
            border-bottom: 1px solid $gray2;
        }

        &.disabled-type {
            color: gray;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 10px;
            border: none;
        }

        &.selected {
            background: $blue1;
            color: white;
        }
    }

    &.open {
        .payment-type {
            display: flex;

            &.disabled-type {
                i {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
