.error-page {
    padding-top: 0;

    .category-wrap {
        position: relative;
        z-index: 999;
        padding-top: 140px;

        @include media-breakpoint-up('md') {
            color: white;
        }
    }

    .error-categories {
        display: flex;
        flex-wrap: wrap;

        a {
            width: 50%;
            padding: 20px;
        }

        @include media-breakpoint-up('md') {
            a {
                padding-right: 10px;
            }
        }

        @include media-breakpoint-up('lg') {
            a {
                width: 25%;
            }
        }
    }
}

.error-page-hero {
    position: relative;
    color: white;
    z-index: 99;

    > .container {
        padding-top: 20px;
    }

    svg {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        background: $blue1;
        height: 300px;

        @include media-breakpoint-up('md') {
            height: 700px;
        }

        .h2{
            font-size:2.4rem;
        }
    }

    @include media-breakpoint-up('lg') {
        padding-top: 100px;

        .h1 {
            font-size: 8rem;
        }
    }
}
