.faq {

    .contact-form {
        padding: 20px 0;
        margin-bottom: 50px;
        background: $gray;

        > .container {
            padding: 50px 15px;
        }

        textarea, input {
            border: none;
        }
    }

    .h1 {
        padding-bottom: 30px;
    }

    .question-wrapper {
        padding-bottom: 20px;
    }

    .question {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid white;
        border: 1px solid $gray;
        cursor: pointer;
        font-weight: bold;
        padding: 5px 15px;
        height: auto;
        span{
            padding-right:10px;
        }

        @include media-breakpoint-up('md') {
            height: 50px;
        }

        &.is-shown {
            ~ .answer {
                height: auto;
                overflow: visible;
                border: 1px solid $gray;
                border-top: none;
                width: 100%;
                padding: 20px 15px;

                @include media-breakpoint-up('md') {
                    height: 50px;
                }

                span {
                    display: block;
                }
            }

            .fa-plus {
                transform: rotate(45deg);
            }
        }
    }

    .answer {
        display: flex;
        align-items: center;
        height: 0;
        padding: 0 15px;
        overflow: hidden;
        width: 100%;
        border: 1px solid transparent;
    }
}
