.games {
    .game-filter {
        padding-bottom: 30px;

        label {
            margin: 0;
        }
    }

    .game_form {
        margin-bottom: 20px;

        form {
            &:first-child {
                width: 100%;
                margin-right: 20px;
                margin-bottom: 20px;
            }
        }

        .checkbox-wrapper {
            display: flex;
            padding-right: 10px;
            width: auto;
            align-items: center;
            margin-bottom: 10px;

            .content {
                margin-left: 25px;
                font-size: 1.6rem;
                text-align: left;
                white-space: nowrap;
            }

            .custom-checkbox {
                margin-bottom: 0;
                top: 5px;
                width: 15px;
                height: 15px;

                &::after {
                    width: 5px;
                    height: 9px;
                }
            }
        }

        .checkbox-group {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: scroll;
            padding:10px 0;
            overflow-y: hidden;
        }

        .game-search {
            width: 100%;

            label {
                position: relative;
                width: 100%;

                i {
                    position: absolute;
                    opacity: .5;
                    top: 50%;
                    right: 20px;
                    transform: translate(0, -50%);
                }
            }
        }
    }

    aside {

        form {
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: 250px;
            margin: 20px 0;
        }
    }

    @include media-breakpoint-up('sm') {
        .game-filter {
            .game_form {
                display: flex;
                align-items: center;

                form {
                    &:first-child {
                        width: 30%;
                        margin-bottom: 0;
                    }
                }

                .checkbox-group {
                    overflow: hidden;
                    padding:0;
                }

                .checkbox-wrapper {
                    .custom-checkbox {
                        width: 25px;
                        height: 25px;
                        top: 3px;

                        &::after {
                            width: 9px;
                            height: 14px;
                        }
                    }

                    .content {
                        margin-left: 35px;
                    }
                }
            }
        }

        aside {
            form {
                overflow: hidden;
                max-height: 100%;
            }
        }
    }
}
