footer {
    background: $blue1;
    border-top: 1px solid $gray;
    padding-bottom: 0px;
    margin-top: 60px;

    .h3 {
        color: white;
        padding-bottom: 10px;
    }

    .category-list {
        li {
            &::before {
                content: "-";
                display: inline-block;
                margin-right:5px;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin-bottom: 30px;

        li {
            margin: 2px 0;
            color: white;
            font-family: $font2;

            a {
                color: white;
            }

            i {
                margin-right: 5px;
                color: greenyellow;
            }
        }
    }

    .contact-data {
        i {
            color: white;
        }
    }

    .footer-tags {
        background: $blue2;
        padding: 20px 0;
        margin-top: 60px;

        a {
            color: white;
            margin-right: 20px;
        }
    }


    @include media-breakpoint-up('md') {
        > .container {
            display: flex;
            justify-content: space-between;

            ul {
                margin-bottom: 0px;

                li{
                    font-size:1.8rem;
                }
            }
        }
    }
}
