.rentform {
    padding-top: 30px;
}

.success-state {
    padding-bottom: 60px;

    @include media-breakpoint-up('md') {
        padding: 90px 0;
    }
}

.input-label {
    display: flex;
    align-items: center;

    @include media-breakpoint-up('md') {
        display: block;
    }
}

.input-validation-error {

    .visible {
        display: flex;
        color: $red;
        margin-top: 5px;
        font-size: 0.1px;

        &::before {
            content: "\f06a";
            font-family: fontAwesome;
            font-size: 1.6rem;
            height: 20px;
            margin-right: 5px;
        }
    }

    @include media-breakpoint-up('md') {
        height: 23px;

        .visible {
            display: block;
            font-size: 1.4rem;
        }
    }
}

.input-wrapper {
    display: flex;
    flex-wrap: wrap;

    @include media-breakpoint-up('md') {
        flex-wrap: nowrap;
    }
}

.policy-input {
    padding-bottom: 30px;

    span {
        font-size: 1.4rem;
        text-align: left;
    }

    &.checkbox-wrapper {
        .custom-checkbox {
            top: 10px;
        }
    }

    @include media-breakpoint-up('md') {
        span {
            font-size: 1.6rem;
        }

        &.checkbox-wrapper {
            .custom-checkbox {
                top: 0;
            }
        }
    }
}

label {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;

    span {
        display: block;
        color: gray;
        margin-bottom: 5px;
    }

    input, textarea {
        width: 100%;
        margin-right: 10px;
        padding: 0 10px;
        height: 50px;
        background: $gray2;
        border: 1px solid #e0e0e0;

        @include media-breakpoint-up('md') {
            height: 60px;
        }
    }

    select {
        width: 100%;
        background: $gray2;
        border: 1px solid #e0e0e0;
        color:gray;
        margin-bottom:20px;
        padding:10px 15px;
        option{
            color:black;
        }
    }

    textarea {
        height: 120px;
        padding: 10px;
        max-height: 120px;
    }

    &.is-date {
        cursor: pointer;

        input {
            cursor: pointer;
        }

        .date-input {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;

            &::after {
                position: absolute;
                right: 30px;
                content: "\f073";
                cursor: pointer;
                cursor: pointer;
                font-size: 1.7rem;
                font-family: fontAwesome;
            }
        }

        @include media-breakpoint-up('md') {
            width: calc(50% - 10px);
        }
    }
}

.shipping-form{
    .not-shown{
        visibility: hidden;
        opacity: 0;
        display:none;
    }
}

.checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    width: calc(50% - 10px);
    min-height: 30px;
    user-select: none;

    &.policy-input {
        width: 100%;
        margin-top: 10px;
    }

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        z-index: -99;
        cursor: pointer;

        &:checked ~ .custom-checkbox:after {
            display: block;
        }
    }

    .custom-checkbox {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        margin-left: 0;
        height: 25px;
        width: 25px;
        background-color: $gray2;
        border: 1px solid #e0e0e0;

        &::after {
            position: absolute;
            display: none;
            width: 9px;
            top: 2px;
            height: 14px;
            border: solid $blue1;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
            content: "";
        }
    }

    .gamename, .content {
        margin-left: 35px;
    }
}

.checkbox-group {
    width: 100%;
    align-items: center;
}

.bank-select {
    margin-bottom: 10px;
}
