.hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-size: cover;
    height: auto;
    z-index: 0;
    background-color: $blue1;
    color: white;
    padding-top: 100px;
    .reviews {
        width: 100%;
        background: $gray2;
        padding: 15px 20px;
        margin-top: 50px;

        p {
            color: gray;
            font-style: italic;
        }

        .swiper-container {
            min-height: 100px;

            .swiper-pagination {
                position: static;
            }
        }
    }

    .review-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        color: black;
        height: auto;

        span {
            font-weight: bold;
            color: gray;
        }

        a {
            font-style: oblique;
            text-decoration: underline;
            color: gray;
        }
    }

    .h1 {
        font-size: 4rem;
        text-transform: none;
        font-family: $font3;
    }

    .h2 {
        padding-bottom: 0;
    }

    .btn-group {
        text-align: left;

        a {
            margin-right: 5px;
        }
    }

    .usp {
        padding-top: 10px;

        .usp-item {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            font-size: 1.6rem;

            p {
                margin-bottom: 0;
            }

            &::before {
                content: "\f05d";
                font-family: fontAwesome;
                color: lawngreen;
                font-size: 2rem;
                padding-right: 5px;
            }
        }
    }

    @include media-breakpoint-up('md') {
        background-image: url(../../assets/images/banner_blue.png);
        background-position: 50%;
        background-color: transparent;
        padding-top: 0;
        height: 500px;
        margin-bottom: 100px;
        .container{
            padding-left: 100px;
        }
        .reviews {
            position: absolute;
            bottom: -50px;
            left: 50%;
            transform: translate(-50%);
            max-width: 700px;
        }

        > .container {
            display: flex;
            justify-content: space-around;
            padding-left: 80px;
        }
    }

    &.is-discount {
        text-align: center;
        height: 500px;
        padding-top: 300px;
        .discount-usp {
            margin-top: 30px;

            .usp-item {
                font-size: 1.4rem;
                text-align: left;
            }
        }

        .discount-header {
            display: flex;
            align-items: center;
            padding: 10px 0;

            .h1 {
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 900;
                color: white;
                font-family: $font3;
                padding-bottom: 0;
                margin-right: 10px;
                background: $red;
                width: 90px;
                height: 90px;
                border-radius: 100%;
            }

            .h2 {
                color: white;
                font-weight: 900;
                font-family: $font3;
                margin-bottom: 0;
                font-size: 3.5rem;
                line-height: 3rem;
                text-align: left;
            }

            @include media-breakpoint-up('md') {
                margin-left: 0;
                .h1 {
                    font-size: 5.5rem;
                    width: 120px;
                    height: 120px;
                }

                .h2 {
                    line-height: 4rem;
                    font-size: 4.5rem;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    padding-left: 5px;
                }
            }

            @include media-breakpoint-up('lg') {
                padding-left: 20px;
                .h1 {
                    font-size: 7rem;
                    width: 150px;
                    height: 150px;
                }

                .h2 {
                    line-height: 5rem;
                    font-size: 6rem;
                }
            }
        }

        .stopwatch {
            font-size: 2.2rem;

            span {
                span {
                    border-right: 2px solid $blue2;
                    margin-right: 10px;
                    font-weight: 700;
                    font-family: $font2;
                    color: white;
                    padding: 10px;

                    &:last-child {
                        border: none;
                    }
                }
            }

            .group {
                padding-top: 30px;
            }

            @include media-breakpoint-up('md') {
                font-size: 3rem;
            }
        }

        @include media-breakpoint-up('md') {
            height: 700px;
            padding-top: 0;
            margin-top: -100px;
            > .container{
                align-items: center;
            }
            .timer {
                margin-left: 100px;
            }

            .discount-usp {
                .usp-item {
                    font-size: 1.6rem;
                }
            }
        }
    }
}
