.hire-product {
    padding-top: 140px;

    .order-userinfo {
        .success-state {
            padding-top: 100px;
        }
    }

    .product-table {
        border: 1px solid $gray;
        margin-bottom: 60px;
        padding: 15px;

        .product-image {

            img {
                display: none;

                &:first-child {
                    display: block;
                }
            }
        }

        .product-info {
            display: flex;
            align-items: center;

            .product-image {
                padding-right: 10px;
            }

            span {
                font-weight: bold;
            }
        }

        .product-cost {
            display: flex;
            justify-content: space-between;
            padding: 5px 10px;
            margin-top: 20px;

            p {
                font-weight: bold;
            }

            span {
                display: block;
            }

            .product-price, .product-bail {
                margin-right: 30px;
            }
        }

        @include media-breakpoint-up('md') {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .product-cost {
                display: flex;
            }

            .product-info {
                display: flex;
                align-items: center;
                text-align: left;

                .product-image {
                    padding-right: 20px;
                }
            }
        }
    }

    .games-form {
        max-width: 700px;

        .gamename {
            font-size: 1.8rem;
        }

        @include media-breakpoint-up('md') {
            display: flex;
            flex-wrap: wrap;
            padding-top: 30px;
        }
    }

    .user-form {
        padding-bottom: 60px;

        .content {
            text-align: left;
        }

        > .container {
            background: $gray;
            padding-top: 30px;
            padding-bottom: 30px;
            border-radius: 20px 20px 0 0;

            &.is-payment {
                background: transparent;
            }
        }

        form {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            max-width: 600px;
        }
    }

    .games-optional {
        padding-bottom: 60px;

        > .container {
            background: $gray;
            padding: 30px 20px;
            border-radius: 20px 20px 0 0;
        }

        .input-wrapper {
            span {
                margin-left: 15px;
            }
        }

        .btn {
            margin-top: 30px;
        }
    }
}
