.content-boxes {
    .content-box {
        background: $gray2;
        padding: 30px 20px;
        margin-bottom: 20px;
    }

    @include media-breakpoint-up('md') {
        .content-box {
            margin-right: 20px;
        }

        > .container {
            display: flex;
        }
    }
}
