.custom-modal {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    display: none;
    overflow: hidden;

    .custom-modal-container {
        position: absolute;
        top: 50%;
        max-width: 300px;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 998;

        .btn-group{
            align-items: center;
            padding: 15px 0;
            text-align: left;
            a{
                cursor: pointer;
                margin-bottom: 0;
            }
        }

        .custom-modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $blue2;
            padding: 5px 10px;
            color: white;
            p{
                margin-bottom: 0;
            }
            .custom-close {
                font-size: 2rem;
                cursor: pointer;
            }
        }

        .custom-modal-body {
            padding: 10px;
            background: white;
            border: 1px solid $gray;

            .h2, .h3 {
                margin: 0;
                padding: 0;
                font-size: 1.8rem;
            }

            .h2 {
                padding-bottom: 10px;
            }

            .modal-img-wrapper {
                position: relative;
                padding: 20px 0;

                .price {
                    position: absolute;
                    right: 20px;
                    top: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: white;
                    background: $blue2;
                    border-radius: 100%;
                    width: 80px;
                    height: 80px;

                    span {
                        display: block;

                        &:last-child {
                            font-size: 2rem;
                            font-weight: bold;
                        }
                    }
                }
            }

            img {
                width: 90%;
                margin: 0 auto;
            }
        }

        @include media-breakpoint-up('sm') {
            max-width: 500px;

            .custom-modal-body {
                top: 40%;

                .h2 {
                    font-size: 2.3rem;
                }

                .h3 {
                    font-size: 2.6rem;
                }
            }

            .price {
                width: 110px;
                height: 110px;
            }
        }
    }

    &.open {
        display: block;
        opacity: 1;

        &::after {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 1;
            content: "";
            background: rgba(255,255,255,0.6);
        }
    }
}
