.navigation {
    position: fixed;
    z-index: 4;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    background: white;
    transition: all .2s;


    > .container {
        position: relative;
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: space-between;
        width: 100% !important;
    }

    .nav-logo {
        display: flex;

        .logo-color {
            display: block;
        }

        .logo-gray {
            display: none;
        }

        img {
            margin-right: 20px;
            height: 50px;
            width: 70px;
        }
    }

    .nav-items {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        height: 0;
        padding: 0 20px;
        overflow: hidden;
        background: white;
        transition: all .2s;

        ul {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                margin-right: 30px;
                font-size: 1.8rem;
                padding: 5px 0;

                a {
                    color: $blue1;
                    text-transform: uppercase;
                    font-family: $font3;
                    font-weight: bold;
                }

                &.new {
                    a {
                        &::after {
                            content: "nieuw!";
                            font-size: 1.2rem;
                            font-weight: 900;
                            color: $red;
                        }
                    }
                }
            }
        }
    }

    .nav-interaction {
        display: flex;

        .to_home {
            display: flex;
            align-items: center;
            color: $blue1;
            font-size: 2.4rem;
            margin-right: 30px;
        }
    }

    .nav-calls {
        display: flex;
        align-items: center;

        .shopping-basket {
            margin-right: 30px;
        }
    }

    @include media-breakpoint-up('md') {
        height: 80px;

        .nav-logo {
            display: flex;

            img {
                margin-right: 20px;
                height: 70px;
                width: 90px;
            }
        }

        .nav-items {
            position: static;
            display: flex;
            height: auto;
            width: auto;
            overflow: visible;

            ul {
                display: flex;

                li {
                    padding: 0;
                }
            }
        }
    }

    &.is-sticky {
        background: $blue1;
        transition: all .2s;

        .shopping-basket {
            background: white;
            cursor: default;

            .basket-icon {
                color: $blue1;
                cursor: pointer;
            }
        }

        .logo-color {
            display: none;
        }

        .logo-gray {
            display: block;
        }

        .nav-items {
            background: $blue1;
            transition: all .2s;

            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
        }

        .nav-interaction {
            .to_home {
                color: white;
            }
        }

        .menutoggle {
            .bars {
                background: white;

                &:before {
                    background: white;
                }

                &:after {
                    background: white;
                }
            }
        }
    }

    &.active {
        .nav-items {
            padding: 20px;
            overflow: visible;
            height: auto;
        }

        .menutoggle {
            .bars {
                position: relative;
                background: transparent !important;

                &::before {
                    position: absolute;
                    top: 0;
                    transform: rotate(45deg);
                }

                &::after {
                    position: absolute;
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .shopping-basket {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        transition: all .2s;
        background: $blue1;
        cursor: default;

        .basketicon-wrapper {
            position: relative;
        }

        .basket-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            color: white;
            cursor: pointer;
            font-size: 2rem;
        }

        sup {
            position: absolute;
            right: -5px;
            top: -5px;
            display: flex;
            font-weight: 700;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            width: 25px;
            height: 25px;
            color: white;
            background: $blue3;
        }

        &:hover, &:active {
            transition: all .2s;
            background: $blue2;
        }
    }
}

.not-home {
    .navigation {
        background: $blue1;

        .logo-color {
            display: none;
        }

        .logo-gray {
            display: block;
        }

        .nav-items {
            background: $blue1;

            .to_home {
                color: white;
            }

            ul {
                li {
                    a {
                        color: white;
                    }
                }
            }
        }

        .nav-interaction {
            .to_home {
                color: white;
            }
        }

        .menutoggle {
            .bars {
                background: white;

                &:before {
                    background: white;
                }

                &:after {
                    background: white;
                }
            }
        }
    }

    .shopping-basket {
        background: white;
        cursor: default;

        .basket-icon {
            color: $blue1;
            cursor: pointer;
        }

        &:hover, &:active {

            .basket-icon {
                color: white;
            }
        }
    }
}

.menutoggle {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    cursor: pointer;

    .bars {
        display: block;
        background: $blue1;
        width: 20px;
        height: 2px;

        &::before {
            position: relative;
            top: -7px;
            background: $blue1;
            width: 20px;
            height: 2px;
            display: block;
            content: "";
        }

        &::after {
            position: relative;
            top: 5px;
            background: $blue1;
            width: 20px;
            height: 2px;
            display: block;
            content: "";
        }
    }

    @include media-breakpoint-up('md') {
        display: none;
    }
}

.category-navigation {
    position: relative;
    top: 60px;
    z-index: 1;
    height: 55px;
    width: 100%;
    background: $blue4;
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;

    > .container {
        height: 55px;
        display: flex;
        align-items: center;
        overflow-x: auto;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding-right: 12px;
            margin-right: 12px;
            white-space: nowrap;
            border-right: 1px solid #98c1dc;
            &:last-child{
                border: none;   
            }
        }

        a {
            color: $blue1;
            font-family: $font2;
            font-size: 1.4rem;
            font-weight: 600;
        }
    }

    @include media-breakpoint-up('md') {
        top: 80px;
    }

    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: $blue2;
        cursor: pointer;
    }

    ::-webkit-scrollbar-thumb {
        background: $blue2;
        cursor: pointer;
    }
}
