.product.out-of-stock {
    filter: grayscale(100%);
    opacity: 0.8;

    .price {
        display: flex;
        align-items: center;
        text-align: center;
        width: 80px;
        height: 80px;
        font-size: 1.3rem;

        @include media-breakpoint-up('sm') {
            width: 100px;
            height: 100px;
            font-size:1.4rem;
        }
    }
}

.product-cost {
    &.out-of-stock {
        filter: grayscale(100%);
        text-align: center;

        .price {
            text-align: center;
        }
    }
}
