.product-detail {
    padding-top: 140px;

    .h1, .for-desktop {
        border-bottom: 1px solid $gray;
        margin-bottom: 20px;
    }

    .btn-group {
        text-align: left;
    }

    .product-mandatory-information {
        padding-bottom: 50px;

        .product-information {
            width: 100%;
            order: 3;
        }

        .product-cost {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 120px;
            height: 120px;
            left: 0;
            top: 0;
            margin-left: auto;
            background: $blue2;
            transform: rotate(-11deg);
            color: white;
            border-radius: 100%;
            .price{
                border-bottom: 2px solid white;
                border-radius: 0;
                width: 100%;
                background: transparent;
                transform:rotate(0);
                padding-bottom: 10px;
                margin-top: 20px;
                &:last-child{
                    border: none;
                    margin: 0;
                }
            }

            .can-buy {
                span {
                    font-size: 1.2rem;
                }
            }

            span {
                font-size: 1.3rem;
            }
            &.discount-round{
                width: 135px;
                height: 135px;
            }
        }

        .product-gallery {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 40px;

            .side-images {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                margin: 20px 0;
                order: 2;

                .side-image {
                    margin-bottom: 20px;
                    margin-bottom: 20px;
                    max-width: 120px;

                    img {
                        display: block;
                        width: 100%;
                    }
                }
            }

            .main-image {
                img {
                    display: none;
                    width: 80%;
                    margin: 0 auto;

                    &:first-child {
                        display: block;
                    }
                }
            }
        }

        .price {

            small, span {
                display: block;
            }

            small {
                &::before {
                    content: '\20AC';
                    margin-right: 2px;
                }
            }

            span {
                margin-top: 2px;
            }
        }

        .tip {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            margin-bottom: 5px;
            font-family: $font2;
            color: gray;

            i {
                font-size: 1.6rem;
                margin-right: 5px;
            }
        }
    }

    .product-details {
        ul {
            list-style: none;
            padding: 0;
        }
    }

    @include media-breakpoint-up('md') {
        .product-mandatory-information {
            padding-bottom: 80px;

            .product-information {
                width: 50%;
            }

            .product-gallery {
                display: flex;
                flex-direction: row;
                padding-right: 40px;
                width: 100%;

                .side-images {
                    display: block;
                    padding-right: 30px;
                    margin-top: 0;
                    order: 1;

                    .side-image {
                        margin-bottom: 20px;
                        border: 1px solid transparent;

                        &.active {
                            border: 1px solid $gray;
                        }
                    }
                }

                .main-image {
                    position: relative;
                    max-width: 480px;
                    height: 450px;
                    margin-right: 30px;
                    order: 2;

                    img {
                        width: 100%;
                    }
                }
            }

            .product-cost {
                position: absolute;
                right: 0;
                left: inherit;
                margin: 0;
                top: 40%;
                width: 135px;
                height: 135px;

                .can-buy {
                    width: 80px;
                    height: 80px;
                    left: 90px;

                    p {
                        margin: 0;
                    }
                }

                span {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

