
.product {
    .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $blue2;
        color: white;
        border-radius: 100%;
        font-family: $font3;
        transform: rotate(-7deg);

        span, small {
            font-size: 1.6rem;
            text-align: center;
        }

        &.discount-round{
            height: 135px !important;
            width: 135px !important;
        }
    }
}

.productswrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .product {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid $gray;
        margin-bottom: 20px;
        padding: 20px 10px;
        width: 100%;

        .h4 {
            font-size: 1.8rem;
            font-family: $font1;
            font-weight: bold;
        }

        @include media-breakpoint-up('sm') {
            width: calc(100% / 2 - 20px);
            margin-right: 20px;

            .price {
                right: -20px;
            }
        }

        @include media-breakpoint-up('md') {
            width: calc(100% / 4 - 20px);
        }

        .product-avatar {
            margin: 0 auto 20px auto;

            img {
                display: block;

                &:nth-child(n+2) {
                    display: none;
                }
            }
        }

        .price {
            position: absolute;
            right: 0;
            top: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: $blue2;
            color: white;
            border-radius: 100%;
            width: 80px;
            height: 80px;

            &.big-price {
                width: 120px;
                height: 120px;
            }
        }

        .check-more {
            padding-top: 10px;
            font-family: $font1;

            a {
                font-weight: bold;
                color: $blue1;
            }
        }
    }
}

.productslist {
    padding: 60px 0;

    .productwrap {
        border-bottom: 1px solid $gray;
        padding-bottom: 30px;
        margin-bottom: 30px;

        .product-cta {
            padding-top: 10px;
        }
    }

    .product {
        position: relative;
        .product-avatar {
            display: flex;
            padding-bottom: 10px;

            img {
                width: auto;
                height: 130px;
                &:nth-child(n+2) {
                    display: none;
                }
            }
        }

        .price {
            position: absolute;
            right: 30px;
            top: 0;
            width: 90px;
            height: 90px;

            &.big-price {
                width: 120px;
                height: 120px;
                span{
                    width: 100%;
                    border-bottom: 2px solid white;
                    &:last-child{
                        border: none;
                    }
                }
            }

            small, span {
                display: block;
            }
        }

        @include media-breakpoint-up('md') {
            position: relative;
            display: flex;

            .product-avatar {
                position: static;
                margin: 0 20px 0 0;
            }

            .price {
                position: absolute;
                right: 0;
            }
        }
    }
}
