.reparations {
    padding-top: 100px;

    .reparation-header {
        padding-top: 30px;
    }

    ul {
        list-style: none;
        padding: 10px;
        border: 1px solid $gray;
        font-family: $font2;
        font-size: 1.5rem;

        b {
            margin-left: 10px;
        }

        ul {
            padding-left: 20px;
            border: none;

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: gray;
                padding-bottom: 10px;

                i {
                    color: black;
                    margin-right: 10px;
                }
            }
        }

        &.usp {
            li {
                font-weight: bold;

                &::before {
                    content: "\f00c";
                    font-family: fontAwesome;
                    font-size: 2rem;
                    padding-right: 5px;
                    color: #7cfc00;
                }

                &:last-child {
                    display: flex;
                    align-items: center;
                    padding-top: 20px;
                    i {
                        padding-right: 10px;
                        font-size: 2rem;
                        color: #7cfc00;
                    }

                    &::before {
                        content: "";
                        padding: 0;
                    }
                }
            }
        }
    }

    .reparation {
        display: flex;
        flex-direction: column-reverse;

        .reparation-form {
            background: $gray;
            padding: 10px 20px 40px 20px;
            margin: 30px 0;
        }
    }

    @include media-breakpoint-up('md') {
        padding-top: 150px;

        .reparation {
            flex-direction: row;
            justify-content: space-between;

            .reparation-form {
                width: 60%;
                margin-top: 0;
            }

            aside {
                width: 30%;
            }
        }
    }
}
