/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #868e96;
    cursor:pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $blue1;
    cursor: pointer;
}
