.steps {
    .container {

        .step {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 10px;
            width: 100%;

            p {
                text-align: center;
            }

            > div {
                display: flex;
                align-items: center;
            }

            img {
                display: block;
                margin: 10px auto;
                max-width: 100%;
                max-height: 100px;
            }

            .step-content {
                max-width: 250px;
                margin: 0 auto;
            }
        }
    }

    @include media-breakpoint-up('md') {
        .steps-wrapper {
            display: flex;
        }
    }
}
