.team {
    padding-top: 0;

    .members {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;

        @include media-breakpoint-up('md') {
            justify-content: flex-start;
        }
    }

    .team-member {
        min-width: 25%;

        .avatar-wrapper {
            max-width: 150px;
            max-height: 150px;
            margin: 10px auto;

            img {
                border-radius: 100%;
                display: block;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            text-align: center;

            li {
                font-family: $font1;
                color: darkgray;

                i {
                    margin-right: 5px;
                    color: black;
                }

                span {
                    display: block;
                }

                &:first-child {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
