.usp {
    .usp-list {
        list-style: none;

        li {
            width: 100%;
            padding: 0 40px;
        }

        @include media-breakpoint-up('md') {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;

            li {
                max-width: 20%;
            }
        }
    }

    &.logos {
        border-top: 1px solid $gray;

        .usp-list {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            margin: 0 auto;

            li {
                display: none;
                align-items: center;
                padding: 40px 20px;

                &:nth-child(-n+3) {
                    display: flex;
                }

                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                }
            }

            @include media-breakpoint-up('md') {
                li {
                    display: flex;
                    width:15%;
                }

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
