[viewBag]
==
<form method="POST"
      role="form"
      class="buyform"
      data-request-validate>
    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="fullname"></span>
                </span>
                <span>Volledige naam *</span>
            </span>
            <input type="text" id="fullname" placeholder="John Doe" name="fullname" />
        </label>
    </div>
    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="email"></span>
                </span>
                <span>E-mailadres *</span>
            </span>
            <input type="email" placeholder="voorbeeld@hotmail.com" name="email" />
        </label>
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="phonenumber"></span>
                </span>
                <span>Telefoonnummer *</span>
            </span>
            <input type="tel" placeholder="06-12345678" name="phonenumber" />
        </label>
    </div>

    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="city"></span>
                </span>
                <span>Stad *</span>
            </span>
            <input type="text" placeholder="Arnhem" name="city" />
        </label>
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="zipcode"></span>
                </span>
                <span>Postcode *</span>
            </span>
            <input type="text" placeholder="1234 AB" name="zipcode" />
        </label>
    </div>

    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="address"></span>
                </span>
                <span>Adres *</span>
            </span>
            <input type="text" placeholder="voorbeeldstraat 1" name="address" />
        </label>

        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="addition"></span>
                </span>
                <span>Aanv. huisnummer</span>
            </span>
            <input type="text" placeholder="A" name="addition" />
        </label>
    </div>
    <div class="input-wrapper">
        <label>
            <span>Toevoeging</span>
            <textarea placeholder="Moeten wij ergens rekening meehouden?" rows="4" name="order_extra"></textarea>
        </label>
    </div>
    <span class="input-validation-error">
        <span data-validate-for="policy"></span>
    </span>
    <label class="checkbox-wrapper policy-input">
        <input type="checkbox" name="policy" />
        <span class="custom-checkbox"></span>
        <span class="content">Ik ga akkoord met de <a href="#">algemene voorwaarden</a></span>
    </label>
    <div class="paymentmethods">

        <p>Betaalmethode</p>
        <div class="payment-selector">
            <div class="payment-type disabled-type open-select">
                <span>Kies betaalmethode</span>
                <i class="fa fa-chevron-down" aria-hidden="false"></i>
            </div>
            <div class="payment-type" data-payment="ideal">
                <span>Ik betaal met Ideal</span>
            </div>
            <!--<div class="payment-type" data-payment="cash">
                <span>Ik betaal achteraf ( overboeking )</span>
            </div>-->
        </div>

    </div>
    <div class="input-wrapper btn-wrap">
        <button class="btn btn-primary not-shown" id="idealBtn" type="submit" data-attach-loading>
            Ga verder
        </button>
        <!--<button class="btn btn-primary not-shown" id="cash" type="submit" data-attach-loading>
            Ga verder
        </button>-->
    </div>
    <div class="payment-methods">
        <img src="{{"assets/images/paymentmethods.png"|theme}}" alt="Betaal methodes" />
    </div>
</form>
