<form method="POST" role="form"
      data-request="onContactSubmit"
      data-request-validate>
    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="fullname"></span>
                </span>
                <span>Volledige naam *</span>
            </span>
            <input type="text" placeholder="John Doe" name="fullname" />
        </label>
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="email"></span>
                </span>
                <span>E-mailadres *</span>
            </span>
            <input type="text" placeholder="voorbeeld@hotmail.com" name="email" />
        </label>
    </div>
    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="question"></span>
                </span>
                <span>Uw vraag *</span>
            </span>
            <textarea placeholder="Uw vraag" name="question" rows="2"></textarea>
        </label>
    </div>

    <div class="input-wrapper">
        <button class="btn btn-primary" type="submit">
            Verzenden
        </button>
    </div>
</form>
