<form method="POST" role="form" class="rentform"
      data-request="onOrderProduct"
      data-request-validate>
    <div class="input-wrapper">
        <input type="hidden" name="games" class="games_field" />
    </div>
    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="fullname"></span>
                </span>
                <span>Volledige naam *</span>
            </span>
            <input type="text" placeholder="John Doe" name="fullname" />
        </label>
    </div>
    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="email"></span>
                </span>
                <span>E-mailadres *</span>
            </span>
            <input type="email" placeholder="voorbeeld@hotmail.com" name="email" />
        </label>
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="phonenumber"></span>
                </span>
                <span>Telefoonnummer *</span>
            </span>
            <input type="tel" placeholder="06-12345678" name="phonenumber" />
        </label>
    </div>

    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="city"></span>
                </span>
                <span>Stad *</span>
            </span>
            <input type="text" placeholder="Arnhem" name="city" />
        </label>
    </div>

    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="address"></span>
                </span>
                <span>Adres *</span>
            </span>
            <input type="text" placeholder="voorbeeldstraat 1" name="address" />
        </label>

        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="addition"></span>
                </span>
                <span>Aanv. huisnummer</span>
            </span>
            <input type="text" placeholder="A" name="addition" />
        </label>
    </div>

    <div class="input-wrapper">
        <label class="is-date">
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="minvalue"></span>
                </span>
                <span>Van: *</span>
            </span>
            <span class="date-input">
                <input placeholder="01/01/2018" name="minvalue" autocomplete="off" value="" class="datepicker" />
            </span>
        </label>
        <label class="is-date">
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="maxvalue"></span>
                </span>
                <span>Tot: *</span>
            </span>
            <span class="date-input">
                <input placeholder="01/01/2018" name="maxvalue" autocomplete="off" value="" class="datepicker" />
            </span>
        </label>
    </div>
    <div class="input-wrapper">
        <label>
            <span>Toevoeging</span>
            <textarea placeholder="Moeten wij ergens rekening meehouden?" rows="4" name="order_extra"></textarea>
        </label>
    </div>
    <span class="input-validation-error">
        <span data-validate-for="policy"></span>
    </span>
    <label class="checkbox-wrapper policy-input">
        <input type="checkbox" name="policy" />
        <span class="custom-checkbox"></span>
        <span class="content">Ik ga akkoord met de <a href="#">algemene voorwaarden</a></span>
    </label>

    <div class="input-wrapper">
        <button class="btn btn-primary" type="submit">
            Ga verder
        </button>
    </div>
</form>
