[viewBag]
==
<form method="POST"
      role="form"
      data-request="onRepairSubmit"
      class="buyform"
      data-request-validate>
    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="fullname"></span>
                </span>
                <span>Volledige naam *</span>
            </span>
            <input type="text" id="fullname" placeholder="John Doe" name="fullname" />
        </label>
    </div>
    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="email"></span>
                </span>
                <span>E-mailadres *</span>
            </span>
            <input type="email" placeholder="voorbeeld@hotmail.com" name="email" />
        </label>
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="phonenumber"></span>
                </span>
                <span>Telefoonnummer *</span>
            </span>
            <input type="tel" placeholder="06-12345678" name="phonenumber" />
        </label>
    </div>

    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="city"></span>
                </span>
                <span>Stad *</span>
            </span>
            <input type="text" placeholder="Arnhem" name="city" />
        </label>
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="zipcode"></span>
                </span>
                <span>Postcode *</span>
            </span>
            <input type="text" placeholder="1234 AB" name="zipcode" />
        </label>
    </div>

    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="address"></span>
                </span>
                <span>Adres *</span>
            </span>
            <input type="text" placeholder="voorbeeldstraat 1" name="address" />
        </label>

        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="addition"></span>
                </span>
                <span>Aanv. huisnummer</span>
            </span>
            <input type="text" placeholder="A" name="addition" />
        </label>
    </div>
    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="select"></span>
                </span>
                <span>Met welk apparaat heeft u problemen? *</span>
            </span>
            <select name="select" class="select">
                <option disabled selected>Selecteer je apparaat</option>
                <option value="laptop">Laptop</option>
                <option value="desktop">Desktop</option>
                <option value="playstation">Playstation</option>
            </select>
        </label>
    </div>
    <div class="input-wrapper">
        <label>
            <span class="input-label">
                <span class="input-validation-error">
                    <span data-validate-for="description"></span>
                </span>
            </span>
            <span>Omschrijf uw probleem *</span>
            <textarea rows="4" name="description"></textarea>
        </label>
    </div>
    <span class="input-validation-error">
        <span data-validate-for="policy"></span>
    </span>
    <label class="checkbox-wrapper policy-input">
        <input type="checkbox" name="policy" />
        <span class="custom-checkbox"></span>
        <span class="content">Ik ga akkoord met de <a href="#">algemene voorwaarden</a></span>
    </label>
    <div class="input-wrapper btn-wrap">
        <button class="btn btn-primary" type="submit" data-attach-loading>
            Afronden
        </button>
    </div>
</form>
