<h2><strong>Algemene Voorwaarden voor toestelverhuur.nl</strong></h2>

<p>Op deze pagina vindt u de algemene voorwaarden van toestelverhuur.nl , zoals deze beschikbaar is gesteld door toestelverhuur . In deze algemene voorwaarden geven wij aan onder welk voorbehoud wij de informatie op onze website aan u aanbieden.</p>

<p><strong>Intellectueel eigendom </strong></p>

<p>Het gebruik van de informatie op deze website is gratis zolang u deze informatie niet kopieert, verspreidt of op een andere manier gebruikt of misbruikt. U mag de informatie op deze website alleen hergebruiken volgens de regelingen van het dwingend recht.</p>

<p>Zonder uitdrukkelijke schriftelijke toestemming van toestelverhuur is het niet toegestaan tekst, fotomateriaal of andere materialen op deze website her te gebruiken. Het intellectueel eigendom berust bij toestelverhuur.</p>

<p><strong>Content op toestelverhuur.nl:</strong></p>

<p>Voor de prijzen die op onze website staan, geldt dat wij streven naar een zo zorgvuldig mogelijke weergave van de realiteit en de bedoelde prijzen. Fouten die daarbij ontstaan en herkenbaar zijn als programmeer dan wel typefouten, vormen nooit een aanleiding om een contract dan wel overeenkomst met toestelverhuur te mogen claimen of te veronderstellen.</p>

<p>toestelverhuur streeft naar een zo actueel mogelijke website. Mocht ondanks deze inspanningen de informatie van of de inhoud op een website van derde onvolledig en of onjuist zijn, dan kunnen wij daarvoor geen aansprakelijkheid aanvaarden.</p>

<p>De informatie en/of producten op deze website worden aangeboden zonder enige vorm van garantie en of aanspraak op juistheid. Wij behouden ons het recht voor om deze materialen te wijzigen, te verwijderen of opnieuw te plaatsen zonder enige voorafgaande mededeling. toestelverhuur aanvaardt geen aansprakelijkheid voor enige informatie die op websites staat waarnaar wij via hyperlinks verwijzen.</p>

<p><strong>Wijzigingen </strong></p>

<p>Mochten deze algemene voorwaarden wijzigen, dan vindt u de meest recente versie van de disclaimer van toestelverhuur.nl op deze pagina.</p>

<p><strong>Product aanspraakelijkheid</strong></p>
<p>Toestelverhuur.nl is ten aller tijden eigenaar van het verhuurde product. Echter is de huurder aansprakelijk voor schade, diefstal of kwijtraak van het product. Bij deze zal dan het betaalde borg bedrag ingehouden worden.</p>