<script type="text/javascript" src={{'assets/js/jquery-ui.js'|theme}}></script>
<script type="text/javascript" src={{'assets/js/jquery.ui.lang.nl.js'|theme}}></script>
<script type="text/javascript" src={{'assets/js/core.js'|theme}}></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<!-- Hotjar Tracking Code for toestelverhuur.nl -->
<script>
    (function (h, o, t, j, a, r) {
        h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
        h._hjSettings = { hjid: 1098958, hjsv: 6 };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script'); r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
{% scripts %}
{% framework extras %}
